

$fontSize: 16;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$fontColor: $grisFonce;
$headerFontColor: $groupes;

$lineHeight: 1.43;

$headerSize: 50, 45, 30, 25, 20, 15;
$headers: h1,h2,h3,h4,h5,h6;

$linkFontFamily: 'cooper_hewitt_semi_bold', Arial, Helvetica, sans-serif;
$linkHoverColor: $groupes;

$gridGutter: 20;
$numCols: 6;

/***************************************\
  boutons btn_
\***************************************/

$btn_defaultBtnBgColor: #ddd;
$btn_defaultBtnColor: $grisFonce;
$btn_defaultBtnFontFamily: $fontfamily;
$btn_defaultBtnFontSize: $fontSize;

$btn_primaryColor: $blanc;
$btn_primaryBgColor: $bleu;

$btn_warningColor: $grisFonce;
$btn_warningBgColor: $jaune;


/***************************************\
  multisite-menu mn_
\***************************************/

$mn_bgColor: $grisFonce;
$mn_color: $blanc;
$mn_lineHeight: 35px;
$mn_masterLinkHoverColor: lighten($mn_bgColor, 10);
$mn_subMenuBgColor: $mn_bgColor;
//$mn_subMenuShadow: "none";
$mn_subMenuShadow: rgba(0,0,0,0.5) 0 4px 6px;
$mn_submenuLinkHoverBgColor: $blanc;
$mn_submenuLinkHoverColor: $grisFonce;

/***************************************\
  site-header sh_
\***************************************/
$sh_tablet_height: topx(600);
$sh_height: topx(750);
$sh_boxShadow: rgba(0,0,0,0.6) 0 50px 70px inset;

$shmn_stickytopHeight: 50;
$shmn_reg_height: 35;
$shmn_reg_lineHeight: $shmn_reg_height;
$shmn_reg_menu_textTransform: uppercase;
$shmn_reg_menu_fontFamily: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
$shmn_reg_menu_linkColor: $blanc;
$shmn_reg_logo_color: $blanc;
$shmn_reg_logo_width:250;
$shmn_reg_logo_height:55;
$shmn_reg_menu_activeLinkColor: $jaune;
$shmn_reg_subMenu_bgColor: $blanc;
$shmn_reg_subMenu_shadow: rgba(0,0,0,0.5) 0 0 4px;
$shmn_reg_subMenu_fontSize: 14;
$shmn_reg_subMenu_fontFamily: "cooper_hewitt_book", Arial, Helvetica, sans-serif;
$shmn_reg_subMenu_linkPaddingRight: 10;
$shmn_reg_subMenu_linkPaddingLeft: 10;
$shmn_reg_subMenu_linkColor: $grisFonce;
$shmn_reg_subMenu_linkHoverColor: $blanc;
$shmn_reg_subMenu_linkHoverBgColor: $grisFonce;


$shmn_stuck_menu_textTransform: uppercase;
$shmn_stuck_menu_fontFamily: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
$shmn_stuck_bgColor: $groupes;
$shmn_stuck_boxShadow: rgba(0,0,0,0.5) 0 1px 4px;
$shmn_stuck_menu_linkColor: $blanc;
$shmn_stuck_logo_color: $blanc;
$shmn_stuck_logo_width:172;
$shmn_stuck_logo_height:38;
$shmn_stuck_menu_activeLinkColor: $jaune;
$shmn_stuck_subMenu_bgColor: $blanc;
$shmn_stuck_subMenu_shadow: rgba(0,0,0,0.5) 0 1px 4px;
$shmn_stuck_subMenu_fontSize: 14;
$shmn_stuck_subMenu_fontFamily: "cooper_hewitt_book", Arial, Helvetica, sans-serif;
$shmn_stuck_subMenu_linkPaddingRight: 10;
$shmn_stuck_subMenu_linkPaddingLeft: 10;
$shmn_stuck_subMenu_linkColor: $grisFonce;
$shmn_stuck_subMenu_linkHoverColor: $blanc;
$shmn_stuck_subMenu_linkHoverBgColor: $groupes;
$shmn_stuck_logo_paddingLeft: $gridGutter;
$shmn_stuck_logo_paddingRight: 98 - $gridGutter;

  /***************************************\
    site-header => boutons spéciaux bs_
  \***************************************/

$bs_width: 140;
$bs_regHeight: 65;
$bs_hoverHeight: 120;
$bs_outerBoxShadow: rgba(0,0,0,0.3) 0 0 5px;
$bs_fontSize: 14;
$bs_fontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$bs_textTrasform: uppercase;
$bs_transition: all 0.15s;
$bs_linkColor: $blanc;
$bs_hoverLinkColor: $grisFonce;
$bs_svgsFillColor: $grisFonce;
$bs_btnBgColor_1: $jaunePale;
$bs_btnBgColor_2: $bleuPale;
$bs_btnBgColor_3: $vertPale;
$bs_gutter: 10;

/***************************************\
  footer
\***************************************/

$footerBgColor: $grisFonce;
$footerColor: $blanc;
$footerBgImage: url('../../../img/sites/zoo/strips.png');
$footerBgImageRepeat: repeat;
$footerBgImagePosition: top left;




















