{% extends "ZPBSitesProBundle:Layouts:master.html.twig" %}
{% block title %}FAQ{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block headScripts %}
    <script src="/js/vendor/require.js" data-main="/js/sites/pro/faq/index.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header"><h1>Questions fréquentes</h1></div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% for faq in faqs %}
                    <div class="faq">
                        <div class="faq-question">
                            {{ faq.question }}
                        </div>
                        <div class="faq-response is-hide">
                            {{ faq.response }}
                        </div>

                    </div>
                {% endfor %}
                {% if cfaqs|length > 0 %}

                    {% for cfaq in cfaqs %}
                        <div class="faq">
                            <div class="faq-question">
                                {{ cfaq.question }}
                            </div>
                            <div class="faq-response is-hide">
                                {{ cfaq.response }}
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
