{#<div class="row" style="margin-bottom: 20px">
    <div class="columns large-12">
        <div class="sticky">
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name"><h1><a href="{{path("zpb_sites_zoo_homepage")}}"><i class="fa fa-home"></i></a></h1></li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section"> <!-- Right Nav Section -->
                    <ul class="right">
                        &#123;&#35;<li class="active"><a href="#">Right Button Active</a></li>
                        <li class="has-dropdown"><a href="#">Right Button Dropdown</a>
                            <ul class="dropdown">
                                <li><a href="#">First link in dropdown</a></li>
                                <li class="active"><a href="#">Active link in dropdown</a></li>
                            </ul>
                        </li>&#35;&#125;
                    </ul>
                    <!-- Left Nav Section -->
                    <ul class="left">
                        <li><a href="#">Votre visite</a></li>
                        <li><a href="#">Le ZooParc</a></li>
                        <li><a href="#">Pédagogie</a></li>
                        <li><a href="{{ path("zpb_sites_zoo_actualites_homepage") }}">Actualités</a></li>
                        <li><a href="#">Communautés</a></li>
                        <li><a href="#">La Boutique</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </div>
</div>#}
<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <nav>
                <ul>
                    <li class="active"><a href="{{path("zpb_sites_zoo_homepage")}}">Accueil</a></li>
                    <li class="dropdown"><a href="">Votre visite</a>
                        <ul>
                            <li><a href="">Accès, horraires, tarifs</a></li>
                            <li><a href="">Animations</a></li>
                            <li><a href="">Plan de visite</a></li>
                            <li><a href="">Restauration</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Dormir à Beauval</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="">Le ZooParc</a>
                        <ul>
                            <li><a href="">Les univers</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">La mission</a></li>
                            <li><a href="">Développement durable</a></li>
                            <li><a href="">Galerie photo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="">Pédagogie</a>
                        <ul>
                            <li><a href="">Carnets pédagogiques</a></li>
                            <li><a href="">Activités pédagogiques</a></li>
                            <li><a href="">Panneaux pédagogiques</a></li>
                            <li><a href="">Offres scolaires</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="">Actualités</a>
                        <ul>
                            <li><a href="">Nouveautés</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_actualites_homepage") }}">Fil d'actualités</a></li>
                        </ul>
                    </li>
                    <li><a href="">Communautés</a></li>
                    <li><a href="">La Boutique</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


