<ul>
    <li><a href="">Carnets de jeux</a></li>
    <li><a href="">Soigneur d'un Jour</a></li>
    <li><a href="">Soigneur d'un Jour Junior</a></li>
    <li><a href="">Parcours pédagogiques</a></li>
    <li><a href="{{ url("zpb_sites_scolar_homepage") }}">Groupes scolaires</a></li>
</ul>
