<ul>
    <li><a href="">Les animaux</a></li>
    <li><a href="">L'histoire du ZooParc</a></li>
    <li><a href="">La mission</a></li>
    <li><a href="">Développement durable</a></li>
    <li><a href="{{  path("zpb_sites_zoo_phototheque_index") }}">Galerie photo</a></li>
</ul>
