{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Liste des brouillons | Actulité{% endblock %}
{% set active = "list_post_draft" %}

{% block content %}

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Listes des articles en cours d'écriture
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date de création</th>
                        <th>Modifier</th>
                        <th>Publier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.createdAt|date('d/m/Y h:i') }}</td>
                        <td><a class="btn btn-neutral" href=""><i class="fa fa-edit"></i></a></td>
                        <td><a class="btn btn-neutral" href="{{ path("zpb_admin_actualites_publier", {id: post.id}) }}"><i class="fa fa-share"></i></a></td>
                        <td><a class="btn btn-neutral" href=""><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
