<footer style="background-color: #333; min-height: 450px; padding: 20px 0;">
    <div class="row">
        <div class="columns large-3"></div>
        <div class="columns large-3"></div>
        <div class="columns large-3"></div>
        <div class="columns large-3"></div>
    </div>
    <div class="row">
        <div class="columns large-3"></div>
        <div class="columns large-3"><a href="{{ path("zpb_sites_zoo_faq") }}">FAQ</a></div>
        <div class="columns large-3"><a href="{{ path("zpb_sites_zoo_phototheque_index") }}">Photothèque</a></div>
        <div class="columns large-3"></div>
    </div>
</footer>
