<header style="position: relative;">
    <img src="http://lorempicsum.com/rio/600/150/{{ random(5) + 1}}" alt="" width="100%"/>
    <a class="button alert large" href="{{ path("zpb_sites_zoo_parrainages_homepage") }}" style="position: absolute; top: 75px; right: 50px;">Parrainages</a>
    <a class="button alert large" href="" style="position: absolute; top: 150px; right: 50px;">Billetterie</a>
    <a class="button alert large" href="" style="position: absolute; top: 225px; right: 50px;">Hôtels</a>
</header>
