<ul>
    <li><a href="">Visite libre</a></li>
    <li><a href="">Restauration</a></li>
    <li><a href="">Séjours</a></li>
    <li><a href="{{ path("zpb_sites_scolar_homepage") }}">Enfants</a></li>
</ul>
