{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block title %}Mentions légales{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Mentions légales</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur expedita facilis inventore,
                    ipsa iusto magni maiores nemo nihil quasi quidem quo repellendus repudiandae saepe sed, soluta vero
                    voluptas voluptates.</p>

                <p>Adipisci, alias, aliquam dicta incidunt iusto libero minima necessitatibus non nulla omnis quae
                    quidem sapiente, sunt veniam vero? Aut cum explicabo fugit inventore laboriosam possimus quasi
                    quisquam repudiandae totam veritatis.</p>

                <p>Blanditiis eos error fuga sunt tempore! A ad aspernatur commodi consequatur cupiditate deleniti dolor
                    incidunt, inventore, maiores molestiae necessitatibus quos rem similique tempore, voluptas. Ea eum
                    itaque minima nisi sequi.</p>

                <p>Animi illum officia quia! Consequatur enim in iusto laboriosam natus officia quam quibusdam saepe
                    vel, voluptas? Alias est et, expedita fuga fugiat illo, nobis non saepe sunt tenetur vitae,
                    voluptatum?</p>

                <p>Animi blanditiis eius ex excepturi, facere libero minus natus nemo, nesciunt officiis optio provident
                    quam quisquam quos rem, tempora tempore temporibus ullam voluptas voluptatibus! Commodi consequuntur
                    dolorem et magni mollitia.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
{% endblock %}
