{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Carnets de jeux{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "carnet" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Carnets de jeux</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
