{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Soigneur d'un jour junior{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "soigneurJr" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Soigneur d'un jour junior</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testbox testbox-10">
                    tabulation été/hiver

                    mise en avant de la saison en cours par défaut
                </div>
            </div>
        </div>
    </div>

{% endblock %}
