{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Soigneur d'un jour{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "soigneur" %}
{% block headScripts %}
    {{ parent() }}
    <script src="/js/sites/zoo/pedagogie/soigneur.js"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Soigneur d'un jour</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <dl class="_tabs" data-tabs="">
                    <dd class="_tab  active" data-target="#tab_1">été</dd>
                    <dd class="_tab" data-target="#tab_2">Hiver</dd>
                </dl>
                <div class="_tabs-content">
                    <div class="_tab-panel active" id="tab_1">
                        <!-- ################################ ETE ################################ -->
                        <div class="_tab-header">
                            <img src="http://lorempicsum.com/rio/1400/400/1" alt="" width="100%"/>
                        </div>
                        <div class="_tab-body">
                            <div class="row">
                                <div class="col-sm-2 col-md-2"></div>

                                <!-- ################################ CONTENU ETE ################################ -->
                                <div class="col-sm-8 col-md-8">
                                    <div class="spaced-row">
                                        <div class="col-md-6 text-center bold">
                                            Il rêve de découvrir les coulisses d'un parc animalier, de participer aux nourrissages des animaux... Durant 2 heures, votre enfant sera immergé dans l'univers incroyable de Beauval et vivra des instants privilégiés en compagnie des animaux.
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="tab-encart">
                                                <p class="bold">Informations sur le programme</p>
                                                <p><strong>13h</strong> Se présenter à l'entrée du ZooParc</p>
                                                    <strong>13h15 - </strong>Accueil des enfants à l'entrée et présentation du ZooParc<br>
                                                    <ul class="disc-list">
                                                        <li>Service du repas des tortues charbonnières, agoutis et dendrobates</li>
                                                        <li>Service du repas des poissons du bassin des lamantins</li>
                                                        <li>Service du repas des lamantins et/ou des raies</li>
                                                        <li>Préparation et distribution d'enrichissements pour les loutres et coatis</li>
                                                        <li>Découverte du secteur Oiseaux et fabrication d'enrichissements pour les perruches</li>
                                                    </ul>
                                                    <p><strong>15h15 - </strong>Fin de l'activité et retour à l'entrée du ZooParc.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-6 col-md-6 text-right">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="tab-encart tab-encart-blue text-center">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                                    amet, beatae iusto neque reiciendis temporibus. Illo libero mollitia
                                                    qui rem reprehenderit voluptatum. Accusamus nemo neque odit sint
                                                    sunt. Adipisci, aspernatur cupiditate, delectus, dignissimos eaque
                                                    esse laudantium magni minima quisquam ratione rerum sed vel! A et
                                                    nobis nulla placeat sit? Nihil.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- ################################ FIN CONTENU ETE ################################ -->
                                <div class="col-sm-2 col-md-2"></div>
                            </div>

                        </div>


                    </div>

                    <!-- ################################ HIVER ################################ -->
                    <div class="_tab-panel" id="tab_2">
                        <div class="_tab-header">
                            <img src="http://lorempicsum.com/rio/1400/400/2" alt="" width="100%"/>
                        </div>
                        <div class="_tab-body">
                            <div class="row">
                                <div class="col-sm-2 col-md-2"></div>
                                <!-- ################################ CONTENU HIVER ################################ -->
                                <div class="col-sm-8 col-md-8">
                                    <div class="spaced-row">
                                        <div class="col-sm-12 col-md-12 text-center bold">
                                            Il rêve de découvrir les coulisses d'un parc animalier, de participer aux nourrissages des animaux... Durant 2 heures, votre enfant sera immergé dans l'univers incroyable de Beauval et vivra des instants privilégiés en compagnie des animaux.
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="tab-encart">
                                                <p class="bold">Informations sur le programme</p>
                                                <p><strong>13h</strong> Se présenter à l'entrée du ZooParc</p>
                                                <strong>13h15 - </strong>Accueil des enfants à l'entrée et présentation du ZooParc<br>
                                                <ul class="disc-list">
                                                    <li>Service du repas des tortues charbonnières, agoutis et dendrobates</li>
                                                    <li>Service du repas des poissons du bassin des lamantins</li>
                                                    <li>Service du repas des lamantins et/ou des raies</li>
                                                    <li>Préparation et distribution d'enrichissements pour les loutres et coatis</li>
                                                    <li>Découverte du secteur Oiseaux et fabrication d'enrichissements pour les perruches</li>
                                                </ul>
                                                <p><strong>15h15 - </strong>Fin de l'activité et retour à l'entrée du ZooParc.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="spaced-row">

                                        <div class="col-sm-6 col-md-6 text-right">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-6 col-md-6">
                                            <img src="http://lorempicsum.com/rio/300/300/2" alt="" width="100%"/>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eaque exercitationem facilis
                                                fugiat fugit hic ipsam iure, molestiae nam non, praesentium quibusdam quos recusandae
                                                sapiente sed sequi sint totam ullam.</p>
                                            <p>Asperiores beatae corporis cupiditate dolor enim fuga impedit maiores minus necessitatibus,
                                                nisi nobis, nulla numquam, provident sint ut vero voluptas. Ad nisi, voluptas? Amet
                                                architecto atque illo? Cum reprehenderit, tenetur?</p>
                                        </div>
                                    </div>

                                    <div class="spaced-row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="tab-encart tab-encart-blue text-center">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                                                    amet, beatae iusto neque reiciendis temporibus. Illo libero mollitia
                                                    qui rem reprehenderit voluptatum. Accusamus nemo neque odit sint
                                                    sunt. Adipisci, aspernatur cupiditate, delectus, dignissimos eaque
                                                    esse laudantium magni minima quisquam ratione rerum sed vel! A et
                                                    nobis nulla placeat sit? Nihil.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ################################ FIN CONTENU HIVER ################################ -->
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

