<html>
<head></head>
    <body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae, deleniti eos odit ratione repudiandae? Ex
        iste possimus velit voluptates.</p>
        <p>{{ password }}</p>
    <a href="{{ link }}">{{ link }}</a>
    </body>
</html>
