$headerHeight: 70 !default;
$headerDaysRowHeight: 30!default;
$rowHeight: 50!default;
$calBodyRowBorderColor: #ddd!default;
$calBodyCellBorderColor: #ddd!default;



.ms-selector{
  float: left;
  height: 100%;
  .ms-prev-btn, .ms-next-btn, .ms-year{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 10px;
  }
}
.calendar{
  position: relative;
  @include clearfix;

  &.cal-4{
    height:  topx((4 * $rowHeight) + $headerHeight) ;
  }

  &.cal-5{
    height:  topx((5 * $rowHeight) + $headerHeight) ;
  }

  &.cal-6{
    height:  topx((6 * $rowHeight) + $headerHeight) ;
  }
}

.cal-header{
  width: 100%;
  height: topx($headerHeight);

}

.cal-loader{
  float: right;
}

.cal-header-row{
  width: 100%;
  height: topx($headerHeight - $headerDaysRowHeight);

  @include clearfix;
}

.cal-header-row-day{
  width: 100%;
  height: topx($headerDaysRowHeight);
  line-height: topx($headerDaysRowHeight);
  @include clearfix;
}

.cal-header-cell-day{
  float: left;
  height: 100%;
  width: percentage(1/7);
  text-align: center;
  font-size: topx($fontSize * 0.5);
}

.cal-header, .cal-body{
  background-color: $blanc;
}

.cal-body, .cal-event-layer{
  position: absolute;
  left: 0;
  top: $headerHeight;
  bottom: 0;
  right: 0;
  z-index: 999;
  @include clearfix;
}
.cal-body{
  border-bottom: 1px solid $calBodyRowBorderColor;
  border-right: 1px solid $calBodyCellBorderColor;
}

.cal-event-layer{
  z-index: 1000;
}

.cal-body-row, .cal-event-layer-row{
  width: 100%;
  height: topx($rowHeight);
  float: left;
  @include clearfix;
  position: relative;
}

.cal-body-row{
  border-top: 1px solid $calBodyRowBorderColor;
  &:last-child{
    //border-bottom: 1px solid $calBodyRowBorderColor;
  }
}

.cal-body-cell, .cal-event-layer-cell{
  width: percentage(1/7);
  height: topx($rowHeight);
  position: relative;
  float: left;
}

.cal-event-layer-cell{
  &.cal-cell-enabled{
    cursor: pointer;
    &:hover{
      @include box-shadow(rgba(0,0,0,0.15) 0 0 5px);
    }
  }
  &.cal-cell-disabled{
    cursor: not-allowed;
  }
}

.cal-body-cell{
  border-left: 1px solid $calBodyCellBorderColor;
  &:last-child{
    //border-right: 1px solid $calBodyCellBorderColor;
  }

  &.cal-cell-today{
    background-color: $ocean;
    color: $blanc;
  }
}

.cal-body-day{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: -15px 0 0 -15px;
}

.animations, .shows{

}

.animations-header, .shows-header{
  .animations-header-title, .shows-header-title{
    h3{
      font-size: topx($fontSize);
      text-align: center;
    }
  }
  .animations-header-date, .shows-header-date{
    padding: 5px;
    p{
      text-align: center;
      font-size: topx($fontSize*0.75);
      font-family: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
    }
  }
}
.animations-message, .shows-message{
  text-align: center;
  font-size: topx($fontSize * 0.8);
  padding: 5px;
}
.animations-list-row, .shows-list-row{
  display: block;
  margin-bottom: 5px;
  background-color: $grisDF;
  padding: 5px;
  font-size: topx($fontSize*0.75);
  @include clearfix;
}
.animations-list-row-hour, .shows-list-row-hour{
  font-family: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  float: left;
}

.animations-list-row-name, .shows-list-row-name{
  font-family: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  color: $ocean;
  float: left;
}
.animations-list-row-place, .shows-list-row-place{
  display: inline-block;
  vertical-align: middle;
  padding: 2px 5px;
  float: right;
  font-size: topx($fontSize*0.5);
}



@media only screen and (min-width: 480px) {
  .cal-header-cell-day{

    font-size: topx($fontSize * 0.75);
  }
}
