

.dev-spacer{
  margin-bottom: 75px;

}

.dev-map{
  width: 100%;
  height: 500px;
  background: transparent url("../../../fixtures/map.jpg") no-repeat center center;
}


.jqlegender {
  color: $blanc;
  &:hover{
    color: $grisFonce;
    a, .title{
      color: $grisFonce;
    }
  }
  position: relative;
  overflow: hidden;
  &.jqlegender-rose{
    .jqlegend{
      background-color: $rose;
    }
  }
  &.jqlegender-soigneur{
    .jqlegend{
      background-color: $vertPale;
    }
  }
  &.jqlegender-atelier{
    .jqlegend{
      background-color: $rouge;
    }
  }
}
.jqlegend {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #ccc;
  transition: all 0.5s;
  bottom: -25%;
  left: 0;
  right: 0;
  z-index: 500;
  @include box-shadow(rgba(0,0,0,0.5) 0 0 7px);
  .title{
    padding:24px;
    text-align: center;
    color: $blanc;
    text-transform: uppercase;
    font-size: topx($fontSize* 1.25);
  }
  .icon{
    .path{
      fill: $grisFonce;
    }
  }
}

@media only screen and (min-width: 768px){
  .jqlegend {

    .title{
      padding: 12px;
      font-size: topx($fontSize );
    }
  }
}

@media only screen and (min-width: 1024px){
  .jqlegend {

    .title{
      padding: 32px;
      font-size: topx($fontSize * 1.25);
    }

    .icon{
      #atelier{
        margin: 0 auto;
        display: block;
        width: 90px;
        height: 64px;
      }
      #cigogne{
        margin: 0 auto;
        display: block;
        width: 90px;
        height: 64px;
      }
      #empreinte{
        margin: 0 auto;
        display: block;
        width: 90px;
        height: 64px;
      }
    }
  }
}

