.wrapper{
  width: 100%;
  @include clearfix;
  margin: topx($fontSize * 4) 0;
}
.container{
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  position: relative;
}
.row, .spaced-row{
  @include row;
  .row, .spaced-row{
    [class^="col5-"]:first-child, [class*=" col5-"]:first-child,
    [class^="col5-"]:first-child, [class*=" col5-"]:first-child
    {
      padding: 0;
    }
    [class^="col5-"]:last-child, [class*=" col5-"]:last-child,
    [class^="col5-"]:last-child, [class*=" col5-"]:last-child
    {
      padding: 0;
    }

  }
}
.spaced-row{
  margin-bottom: topx($gridGutter * 2);
}
[class^="col-"], [class*=" col-"],[class^="col4-"], [class*=" col4-"], [class^="col5-"], [class*=" col5-"]{
  float: left;
  min-height: 1px;
  padding-left: topx($gridGutter);
  padding-right: topx($gridGutter);
  position: relative;
}

@for $i from 1 through $numCols{
  .col-#{$i}{
    width: 100%;
  }
}

@for $i from 1 through 4{
  .col-#{$i}{
    width: 100%;
  }
}

@for $i from 1 through 5{
  .col5-#{$i}{
    width: 100%;
  }
}

[class^="grid-"], [class*=" grid-"]{
  @include clearfix;
  width: 100%;
  &>li,&>div{
    float: left;
    min-height: 1px;
    padding-right: topx($gridGutter);
    padding-left: topx($gridGutter);
    margin-bottom: topx(2 * $gridGutter);
  }

}
@for $i from 1 through 6{

  .grid-#{$i}{

    &>li,&>div{
      width: percentage(1/$i);
      $v: 1 + $i;
      &:nth-of-type(1n){
        clear: none;
      }
      &:nth-of-type(#{$i}n + 1){
        clear: both;
      }
    }
  }
}


@media only screen and (min-width: 768px){
  @for $i from 1 through $numCols{
    .col-#{$i}{
      width: percentage( $i / $numCols);
    }
  }
  @for $i from 1 through 4{
    .col4-#{$i}{
      width: percentage( $i / 4);
    }
  }
  @for $i from 1 through 5{
    .col5-#{$i}{
      width: percentage( $i / 5);
    }
  }
}

@media only screen and (min-width: 960px){
  .container{
    max-width: 1020px;
  }
}

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 1200px;
  }

}

@media only screen and (min-width: 1440px){


}
