
.container{
  width: 100%;
  margin: 0 auto;
  @include clearfix;
  position: relative;
}
.row{
  @include row;
}
[class^="col-"], [class*=" col-"]{
  float: left;
  min-height: 1px;
  padding-left: topx($gridGutter);
  padding-right: topx($gridGutter);
  position: relative;
}
@for $i from 1 through $numCols{
  .col-#{$i}{
    width: 100%;
  }
}


@media only screen and (min-width: 768px){
  @for $i from 1 through $numCols{
    .col-#{$i}{
      width: percentage( $i / $numCols);
    }
  }
}

@media only screen and (min-width: 960px){

}

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 1200px;
  }

}

@media only screen and (min-width: 1440px){


}
