#multisite-menu{
  background-color: $mn_bgColor;
  color: $mn_color;
  line-height: $mn_lineHeight;
  @include box-shadow(rgba(0,0,0,0.5) 0 1px 4px);
  position: relative;
  z-index: 999;
  font-size: 12px;
  a{
    @include nakedLink;
    color: inherit;
    font-family: inherit;
  }
  nav{
    width: 100%;
    &>ul{
      @include clearfix;
      text-align: center;
      &>li{
        &.active{
          color: $jaune;
          &:hover{
            &:after{
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 14%;
              background-color: $jaune;
              bottom: 5px;
              margin: 0 auto;
              left: 43%;
            }
          }
        }
        &:hover{
          &:after{
            content: "";
            position: absolute;
            display: block;
            height: 1px;
            width: 14%;
            background-color: $blanc;
            bottom: 5px;
            margin: 0 auto;
            left: 43%;
          }
        }
        display: inline-block;
        position: relative;
        &.dropdown{
          &:hover{
            &>ul{
              display: block;
            }
          }
        }
        a{
          display: block;
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          &:hover{
            background-color: $mn_masterLinkHoverColor;
          }
        }
        ul{
          position: absolute;
          display: none;
          z-index: 1000;
          min-width: 100%;
          background-color: $mn_subMenuBgColor;
          white-space: nowrap;
          @if $mn_subMenuShadow != "none" {
            @include box-shadow($mn_subMenuShadow);
          }
          margin: 0;
          padding: 0;
          list-style: none;
          li{
            a{
              &:hover{
                background-color: $mn_submenuLinkHoverBgColor;
                color: $mn_submenuLinkHoverColor;
              }
            }
          }
        }
      }
    }
  }
}
