#site-header{
  width: 100%;
  height: $sh_height;
  background: transparent url("../../../img/sites/zoo/yuanzi.jpg") center center no-repeat;
  position: relative;
  @if $sh_boxShadow != "none" {
    @include box-shadow($sh_boxShadow);
  }
  #stickytop{
    @include transition(background-color 0.1s);
    width: 100%;
    height: 50px;
    &.stuck{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $sh_sticyStuck_bgColor;
      width: 100%;
      z-index: 1000;
      @if $sh_sticyStuck_boxShadow != "none"{
        @include box-shadow($sh_sticyStuck_boxShadow);
      }

      .container{
        #main-menu{
          color: $sh_sticyStuck_mainMenu_Color;
          line-height: 50px;
          a{
            @include nakedLink;
            color: inherit;
            font-family: inherit;
          }
          nav{
            &>ul{
              &>li{
                &.active, &:hover{
                  &:after{
                    content: "";
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 50%;
                    background-color: $sh_sticyStuck_mainMenuLiUnderlineColor;
                    bottom: 10px;
                    margin: 0 auto;
                    left: 25%;
                  }
                }
                ul{
                  background-color: $blanc;
                  @include box-shadow(rgba(0,0,0,0.5) 0 3px 4px);
                  min-width: 100%;
                  white-space: nowrap;
                  li{
                    a{
                      color: $noir;
                      text-align: left;
                      padding-left: topx($gridGutter);
                      padding-right: topx($gridGutter);
                      &:hover{
                        background-color: $blanc;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #main-menu{
    line-height: $sh_mainMenuLineHeight;
    a{
      @include nakedLink;
      color: $sh_mainMenuLinkColor;
      font-family: $sh_mainMenuLinkFontFamily;
    }
    nav{
      &>ul{
        display: table;
        table-layout: fixed;
        width:100%;
        margin: 0 auto;
        &>li{
          &.active, &:hover{
            &:after{
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 50%;
              background-color: $sh_mainMenuLiUnderlineColor;
              bottom: 10px;
              margin: 0 auto;
              left: 25%;
            }
          }
          display: table-cell;
          position: relative;
          text-align: center;
          &.dropdown{
            &:hover{
              ul{
                display: block;
              }
            }
          }
          a{
            display: block;
            text-align: center;
            padding-left: topx($gridGutter);
            padding-right: topx($gridGutter);
          }
          ul{
            display: none;
            position: absolute;
            z-index: 1000;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: $sh_mainMenu_submanuBgColor;
            @if $sh_mainMenu_submenu_boxShadow != "none"{
              @include box-shadow($sh_mainMenu_submenu_boxShadow);
            }

            min-width: 100%;
            white-space: nowrap;
            li{
              a{
                color: $sh_mainMenu_submenu_linkColor;
                text-align: left;
                padding-left: topx($sh_mainMenu_submenu_linkPadding);
                padding-right: topx($sh_mainMenu_submenu_linkPadding);
                &:hover{
                  background-color: $sh_mainMenu_submenu_linkHoverBgColor;
                }

              }
            }
          }
          &>a{
            display: block;
          }
        }
      }
    }
  }
}
