#site-header{
  width: 100%;
  height: $sh_height;
  background: transparent url("../../../img/sites/zoo/yuanzi.jpg") center center no-repeat;
  position: relative;
  @include box-shadow(rgba(0,0,0,0.6) 0 50px 70px inset);
  #stickytop{
    &.stuck{
      .container{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $blanc;
        height: 50px;
        width: 100%;
        max-width: 100%;
        z-index: 1000;
        @include box-shadow(rgba(0,0,0,0.5) 0 1px 4px);
        #main-menu{
          max-width: 1200px;
          margin: 0 auto;

          background-color: $blanc;
          color: $grisFonce;
          line-height: 50px;
          a{
            @include nakedLink;
            color: inherit;
            font-family: inherit;
          }
          nav{
            &>ul{
              &>li{
                &.active, &:hover{
                  &:after{
                    content: "";
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 50%;
                    background-color: $grisFonce;
                    bottom: 10px;
                    margin: 0 auto;
                    left: 25%;
                  }
                }
                ul{

                  background-color: $blanc;
                  @include box-shadow(rgba(0,0,0,0.5) 0 3px 4px);
                  min-width: 100%;
                  white-space: nowrap;
                  li{
                    a{
                      color: $noir;
                      text-align: left;
                      padding-left: topx($gridGutter);
                      padding-right: topx($gridGutter);
                      &:hover{
                        background-color: $blanc;
                      }

                    }
                  }
                }
              }
            }
          }

        }
      }

    }
  }
  #main-menu{
    line-height: 50px;
    a{
      @include nakedLink;
      color: $blanc;
      font-family: inherit;
    }
    nav{
      &>ul{
        display: table;
        table-layout: fixed;
        width:100%;
        margin: 0 auto;
        &>li{
          &.active, &:hover{
            &:after{
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 50%;
              background-color: $blanc;
              bottom: 10px;
              margin: 0 auto;
              left: 25%;
            }
          }
          display: table-cell;
          position: relative;
          text-align: center;
          &.dropdown{
            &:hover{
              ul{
                display: block;
              }
            }
          }
          a{
            display: block;
            text-align: center;
            padding-left: topx($gridGutter);
            padding-right: topx($gridGutter);
          }
          ul{
            display: none;
            position: absolute;
            z-index: 1000;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: rgba(255,255,255,0.5);
            @include box-shadow(rgba(0,0,0,0.5) 0 0 4px);
            min-width: 100%;
            white-space: nowrap;
            li{
              a{
                color: $noir;
                text-align: left;
                padding-left: topx($gridGutter);
                padding-right: topx($gridGutter);
                &:hover{
                  background-color: $blanc;
                }

              }
            }
          }
          &>a{
            display: block;
          }
        }
      }
    }
  }
}
