@function  topx($value){
  @return  $value * 1px;
}

@mixin nakedLink{
  outline: none;
  text-decoration: none;
}
@mixin clearfix{
  *zoom: 1;
  &:before, &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}

$grisFonce: #313133;
$bleu: #2e85a3;
$jaune: #ffcb00;
$blanc: #fff;

$fontSize: 16;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$fontColor: $grisFonce;
$headerFontColor: $bleu;
$lineHeight: 1.43;

$headerSize: 50, 45, 30, 25, 20, 15;
$headers: h1,h2,h3,h4,h5,h6;

$linkFontFamily: 'cooper_hewitt_semi_bold', Arial, Helvetica, sans-serif;
$linkHoverColor: $bleu;

$gridGutter: 5;
$numCols: 6;
