@function  topx($value){
  @return  $value * 1px;
}

@mixin nakedLink{
  outline: none;
  text-decoration: none;
}
@mixin clearfix{
  *zoom: 1;
  &:before, &:after{
    content: " ";
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin row{
  width: 100%;
  @include clearfix;
  position: relative;
}

$grisFonce: #313133;
$bleu: #2e85a3;
$jaune: #ffcb00;
$blanc: #fff;
$noir: #000;

$jaunePale: #DDAB33;
$bleuPale: #4f94b3;
$vertPale: #87a13e;

$fontSize: 16;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$fontColor: $grisFonce;
$headerFontColor: $bleu;
$lineHeight: 1.43;

$headerSize: 50, 45, 30, 25, 20, 15;
$headers: h1,h2,h3,h4,h5,h6;

$linkFontFamily: 'cooper_hewitt_semi_bold', Arial, Helvetica, sans-serif;
$linkHoverColor: $bleu;

$gridGutter: 5;
$numCols: 6;

/***************************************\
  multisite-menu mn_
\***************************************/

$mn_bgColor: $grisFonce;
$mn_color: $blanc;
$mn_lineHeight: 35px;
$mn_masterLinkHoverColor: lighten($mn_bgColor, 10);
$mn_subMenuBgColor: $mn_bgColor;
//$mn_subMenuShadow: "none";
$mn_subMenuShadow: rgba(0,0,0,0.5) 0 4px 6px;
$mn_submenuLinkHoverBgColor: $blanc;
$mn_submenuLinkHoverColor: $grisFonce;

/***************************************\
  site-header sh_
\***************************************/

$sh_height: topx(750);
$sh_boxShadow: rgba(0,0,0,0.6) 0 50px 70px inset;

$sh_mainMenuLineHeight: 35px;
$sh_mainMenuLinkColor: $blanc;
$sh_mainMenuLinkFontFamily: inherit;
$sh_mainMenuLiUnderlineColor: $blanc;
$sh_mainMenu_submanuBgColor: rgba(255,255,255,1);
$sh_mainMenu_submenu_boxShadow: rgba(0,0,0,0.5) 0 0 4px;
$sh_mainMenu_submenu_linkColor: $grisFonce;
$sh_mainMenu_submenu_linkPadding: 10;
$sh_mainMenu_submenu_linkHoverBgColor: $grisFonce;

//$sh_sticyStuck_bgColor: $bleu;
$sh_sticyStuck_bgColor: $blanc;
$sh_sticyStuck_boxShadow: rgba(0,0,0,0.5) 0 1px 4px;
//$sh_sticyStuck_mainMenu_Color: $jaune;
$sh_sticyStuck_mainMenu_Color: $grisFonce;
//$sh_sticyStuck_mainMenuLiUnderlineColor: $jaune;
$sh_sticyStuck_mainMenuLiUnderlineColor: $grisFonce;

  /***************************************\
    site-header => boutons spéciaux bs_
  \***************************************/

$bs_width: 140;
$bs_regHeight: 65;
$bs_hoverHeight: 120;
$bs_outerBoxShadow: rgba(0,0,0,0.3) 0 0 5px;
$bs_fontSize: 14;
$bs_fontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$bs_textTrasform: uppercase;
$bs_transition: all 0.15s;
$bs_linkColor: $blanc;
$bs_hoverLinkColor: $grisFonce;
$bs_svgsFillColor: $grisFonce;
$bs_btnBgColor_1: $jaunePale;
$bs_btnBgColor_2: $bleuPale;
$bs_btnBgColor_3: $vertPale;
$bs_gutter: 10;

