@import "compass";
@import "compass/reset";

@import "vars";
@import "typo";
@import "grid";

@import "multisite-menu";
@import "site-header";

@import "footer";

@function  topx($value){
  @return  $value * 1px;
}

*, *:before, *:after{
  @include box-sizing(border-box);
}
body{
  font-size: topx($fontSize);
  font-family: $fontfamily;
  color: $fontColor;
  line-height: $lineHeight;
}

h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
  font-family: $headerFontFamily;
  color: $headerFontColor;
  a{
    color: inherit;
  }
}
@for $h from 1 through 6 {
  h#{$h}{
    font-size: topx(55 - ($h * 8));
  }
}

a{
  @include  nakedLink;
  font-family: $linkFontFamily;
  &:hover{
    color: $linkHoverColor;
  }
}

.testbox{
  width: 100%;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #bbb;
}

.text-center{
  text-align: center;
}
