<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%  if block('title') %}{{ block('title') }}{% else %}Accueil{% endif %} | Admin | ZooBeauval</title>

    {% block headLinks %}
        <link rel="stylesheet" href="/css/admin/master.css"/>
    {% endblock %}
</head>
<body>

</body>
</html>
