{% extends "ZPBSitesZooMobileBundle:Layouts:master.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "home" %}

{% block header %}

    <img src="http://lorempicsum.com/rio/1200/800/3" alt=""/>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>Bienvenue au ZooParc de Beauval</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="slogan">
                    <p>Très engagé dans la protection des espèces menacées et classé parmi les 15 plus beaux zoos au monde, le ZooParc de Beauval est un lieu magique et inoubliable.</p>
                    <p>Plus de 5700 animaux évoluent au sein d'installations exceptionnelles : koalas, okapis, lamantins, kangourous arboricoles, tigres et lions blancs... sans oublier les pandas géants !</p>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
{% block footScripts %}
    {{ parent() }}

{% endblock %}
