$grisFonce: #313133;
$bleu: #2e85a3;
$jaune: #ffcb00;
$blanc: #fff;
$noir: #000;
$jaunePale: #DDAB33;
$bleuPale: #4f94b3;
$vertPale: #87a13e;
$beauvalNature: #ececec;
$groupes: #f39325;
$ce: #cf3d5a;
$groupesEnfants: #8db225;
$pro: #a866a0;


$fontSize: 16;
$fontfamily: 'cooper_hewitt_book', Arial, Helvetica, sans-serif;
$headerFontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$fontColor: $grisFonce;
$headerFontColor: $ce;
$lineHeight: 1.43;
$headerSize: 50, 45, 30, 25, 20, 15;
$headers: h1,h2,h3,h4,h5,h6;
$linkFontFamily: 'cooper_hewitt_semi_bold', Arial, Helvetica, sans-serif;
$linkHoverColor: $ce;
$gridGutter: 5;
$numCols: 6;

/***************************************\
  boutons btn_
\***************************************/

$btn_defaultBtnBgColor: #ddd;
$btn_defaultBtnColor: $grisFonce;
$btn_defaultBtnFontFamily: $fontfamily;
$btn_defaultBtnFontSize: $fontSize;

$btn_primaryColor: $blanc;
$btn_primaryBgColor: $bleu;

$btn_warningColor: $grisFonce;
$btn_warningBgColor: $jaune;


/***************************************\
  multisite-menu mn_
\***************************************/

$mn_bgColor: $grisFonce;
$mn_color: $blanc;
$mn_lineHeight: 35px;
$mn_masterLinkHoverColor: lighten($mn_bgColor, 10);
$mn_subMenuBgColor: $mn_bgColor;
//$mn_subMenuShadow: "none";
$mn_subMenuShadow: rgba(0,0,0,0.5) 0 4px 6px;
$mn_submenuLinkHoverBgColor: $blanc;
$mn_submenuLinkHoverColor: $grisFonce;

/***************************************\
  site-header sh_
\***************************************/

$sh_tablet_height: topx(600); // modif hauteur version tablette
$sh_height: topx(750); // hauteur du header
$sh_boxShadow: rgba(0,0,0,0.6) 0 50px 70px inset; // ombre interne sur la photo

// non collé
$sh_mainMenuLineHeight: 35px;
$sh_mainMenuLinkColor: $blanc;
$sh_mainMenuLogoColor: $blanc;
$sh_mainMenuLinkFontFamily: inherit;
$sh_mainMenuLiUnderlineColor: $blanc;
$sh_mainMenu_submenuBgColor: $blanc;
$sh_mainMenu_submenu_boxShadow: rgba(0,0,0,0.5) 0 0 4px;
$sh_mainMenu_submenu_linkColor: $grisFonce;
$sh_mainMenu_submenu_linkPadding: 10;
$sh_mainMenu_submenu_linkHoverBgColor: $grisFonce;
$sh_mainMenu_submenu_linkHoverColor: $blanc;

// collé
$sh_sticyStuck_bgColor: $ce;
$sh_sticyStuck_boxShadow: rgba(0,0,0,0.5) 0 1px 4px;
$sh_sticyStuck_mainMenu_Color: $grisFonce;
$sh_sticyStuck_mainMenu_activeColor: $jaune;
$sh_sticyStuck_mainMenu_linkColor: $blanc;
$sh_sticyStuck_mainMenuLiUnderlineColor: $blanc;
$sh_sticyStuck_mainMenu_logo_color: $blanc;
$sh_sticky_mainMenu_submenu_linkHoverBgColor: $ce;
$sh_sticky_mainMenu_submenu_linkHoverColor: $blanc;
$sh_sticky_mainMenu_submenu_linkFontFamily: "cooper_hewitt_book", Arial, Helvetica, sans-serif;
  /***************************************\
    site-header => boutons spéciaux bs_
  \***************************************/

$bs_width: 140;
$bs_regHeight: 65;
$bs_hoverHeight: 120;
$bs_outerBoxShadow: rgba(0,0,0,0.3) 0 0 5px;
$bs_fontSize: 14;
$bs_fontFamily: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
$bs_textTrasform: uppercase;
$bs_transition: all 0.15s;
$bs_linkColor: $blanc;
$bs_hoverLinkColor: $grisFonce;
$bs_svgsFillColor: $grisFonce;
$bs_btnBgColor_1: $jaunePale;
$bs_btnBgColor_2: $bleuPale;
$bs_btnBgColor_3: $vertPale;
$bs_gutter: 10;

/***************************************\
  footer
\***************************************/

$footerBgColor: $grisFonce;
$footerColor: $blanc;
$footerBgImage: url('../../../img/sites/zoo/strips.png');
$footerBgImageRepeat: repeat;
$footerBgImagePosition: top left;




















