{% extends "ZPBSitesZooMobileBundle:Layouts:master.html.twig" %}

{% block title %}Accès{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "acces" %}

{% block header %}
    <img src="http://lorempicsum.com/rio/768/768/3" alt="" width="100%"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="page-header">
                <h1>Accès</h1>
            </div>
        </div>
    </div>
{% endblock %}
