{% extends "ZPBSitesZooMobileBundle:Layouts:master.html.twig" %}

{% block title %}Restauration{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "restauration" %}
{% block header %}
    <img src="http://lorempicsum.com/rio/768/768/3" alt="" width="100%"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-header">
                    <h1>Restauration</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                {% for resto in restos %}
                    <div class="card resto-card {% if resto.isOpen == true %}is-open{% else %}is-close{% endif %}">
                        <img src="{{ resto.visuel.webPath }}" alt="" width="100%"/>
                        <h3 class="text-center">{{ resto.name }}</h3>
                        <div class="card-description-centered">{{ resto.description|raw }}</div>

                        <div class="resto-state-info text-center bold">
                            <p>Aujourd'hui ce restaurant est</p>
                            <p class="resto-state">
                                {% if resto.isOpen == true %}ouvert{% else %}fermé{% endif %}
                            </p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
