{% extends "ZPBSitesZooMobileBundle:Layouts:master.html.twig" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="page-header">
                    <h1>Restauration</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                {% for resto in restos %}
                    <img src="{{ resto.visuel.webPath }}" alt="" width="100%"/>
                    <h4 class="text-center">{{ resto.name }}</h4>
                    <div class="text-center">{{ resto.description|raw }}</div>

                    <div class="resto-state-info text-center bold">
                        <p>Aujourd'hui ce restaurant est</p>
                        <p class="resto-state">
                            {% if resto.isOpen == true %}ouvert{% else %}fermé{% endif %}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
