{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block title %}Accueil{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Bienvenue au ZooParc de Beauval</h1>
                </div>
            </div>

        </div>
<!--
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="testbox testbox-4">
                    <p>TODO message d'alerte/annonce spéciale</p>
                    <p>TODO stats articles /nbre vue...</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div> -->

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="slogan">
                    <p>Très engagé dans la protection des espèces menacées et classé parmi les 15 plus beaux zoos au monde, le ZooParc de Beauval est un lieu magique et inoubliable.</p>

                    <p>Plus de 5700 animaux évoluent au sein d'installations exceptionnelles : koalas, okapis, lamantins, kangourous arboricoles, tigres et lions blancs... sans oublier les pandas géants !</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>


    <div class="wrapper">
        <div class="container"> <!-- Nouveauté -->
            <div class="row">
                <div class="col-6">
                    <div class="testbox testbox-8">6columns * 400px</div>
                </div>
            </div>
        </div>
    </div>



    <div class="wrapper">
        <div class="container"> <!-- Blocks divers -->
            <div class="row">
                <div class="col-2">

                    <div class="jqlegender jqlegender-atelier">
                        <a href="#"><img src="/img/sites/fixtures/Ateliers-pedagogiques.jpg" alt="" width="100%"/>
                        <div class="jqlegend">
                            <div class="title">Ateliers pédagogiques</div>
                            <div class="icon">
                                {{ include("ZPBSitesZooBundle:incs:atelier_svg.html.twig") }}
                            </div>
                        </div></a>
                    </div>

                </div>
                <div class="col-2">

                    <div class="jqlegender jqlegender-soigneur">
                        <a href="#"><img src="/img/sites/fixtures/Soigneur-d-un-Jour.jpg" alt="" width="100%"/>
                        <div class="jqlegend">
                            <div class="title">Soigneur d'un jour</div>
                            <div class="icon">
                                {{ include("ZPBSitesZooBundle:incs:empreinte_svg.html.twig") }}
                            </div>
                        </div></a>
                    </div>

                </div>
                <div class="col-2">

                    <div class="jqlegender jqlegender-rose">
                        <a href="#">

                                <img src="/img/sites/fixtures/Carnet-Rose.jpg" alt="" width="100%"/>

                            <div class="jqlegend">
                                <div class="title">Carnet Rose</div>
                                <div class="icon">
                                    {{ include("ZPBSitesZooBundle:incs:cigogne_svg.html.twig") }}
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="wrapper">
        <div class="container"> <!-- Blocks divers -->
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="page-header">
                        <h1>Aujourd'hui à Beauval</h1>
                        <div class="slogan">
                            <p class="sautdeligne">Tout au long de l’année, l’équipe pédagogique propose aux visiteurs des rendez-vous aux quatre coins du ZooParc, au cours desquels un animateur explique tout de la vie et des mœurs des espèces présentes à Beauval, le plus souvent au cours d'un nourrissage.</p>
                            <p>Animés par des commentaires pédagogiques, les spectacles d’oiseaux et d’otaries ont lieu tous les jours de fin mars à mi-novembre.</p>

                        </div>
                    </div>
                </div>
                <div class="col-1"></div>


            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                    <a class="btn btn-warning btn-xlarge" href="">Consulter les horaires</a>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </div>



{% endblock %}

{% block headStyles %}
{#    <style>
        .jqlegender {
            position: relative;
            overflow: hidden;

        }
        .jqlegend {
            position: absolute;
            width: 100%;
            height: 50%;
            background-color: #ccc;
            transition: all 0.5s;
            bottom: -25%;
            left: 0;
            right: 0;
            z-index: 500;
            box-shadow: rbga(0,0,0,0.5) ;
        }
    </style>#}
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        (function($, w){

            $.fn.jqLegender = function(o){

                var defaults = {};
                var opts = $.extend({}, defaults, o||{});

                return this.each(function(){
                    var $this = $(this), legend = $this.find(".jqlegend");

                    $this.on("mouseover", function(e){
                        legend.css("bottom", 0);

                    });
                    $this.on("mouseout", function(e){
                        legend.css("bottom",  -25 + "%");

                    });

                });
            }
        }
        )(jQuery, this);
        $(function(){

            $(".jqlegender").jqLegender();
        });
    </script>


{% endblock %}
