{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block title %}Accueil{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block headScripts %}

    <script src="/js/vendor/require.js" data-main="/js/sites/zoo/index/index.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>ZooParc de Beauval</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-intro">
                    <p><span class="quoted">N° 1 des zoos et aquariums de France</span></p>
                    <p class="underline"> Traveler's Choice Attractions Awards</p>
                </div>
            </div>
        </div>
    </div>

    <div class="img-wrapper">
        <img src="/img/sites/zoo/nouveaute_2014.jpg" alt="" width="100%"/>
    </div>

    <div class="wrapper">
        <div class="container">

            <div class="spaced-row">
                <div class="col-sm12 col-md-12">
                    <div class="page-header">
                        <h1>Aujourd'hui à Beauval</h1>
                        {#<div class="slogan">
                            <p>Tout au long de l’année, notre équipe pédagogique vous propose des rendez-vous aux quatre coins du ZooParc, pour vous livrer tous les secrets des espèces présentes à Beauval.</p>
                            <p>De fin mars à mi-novembre, se déroulent spectacles d’oiseaux et d’otaries !</p>
                        </div>#}
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 text-center">
                    <a class="btn btn-warning btn-xlarge" href="">Découvrez la programmation…</a>
                </div>
            </div>


        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Carnet-Rose.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Découvrez les derniers bébés du zoo...</a>
                            </div>
                            <div class="front-box-title rose">
                                <h3><a href="">Carnet rose</a></h3>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Soigneur-d-un-Jour.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Vivez en une matinée une expérience de soigneur animalier</a>
                            </div>
                            <div class="front-box-title red">
                                <h3><a href="">Soigneur d'un jour</a></h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Ateliers-pedagogiques.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Devenez le Parrain d'un animal de Beauval</a>
                            </div>
                            <div class="front-box-title green">
                                <h3><a href="">Parrainages</a></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <a href="{{ path("zpb_sites_zoo_actualites_carnet_rose") }}">
                        <div class="jqlegender jqlegender-rose">
                            <img src="/img/sites/fixtures/Carnet-Rose.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Carnet Rose</div>
                                <div class="icon">
                                    &#123;&#35;{{ include("ZPBSitesZooBundle:incs:cigogne_svg.html.twig") }}&#35;&#125;
                                    <p>Découvrez les derniers bébés du zoo...</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-md-4">
                    <a href="#">
                        <div class="jqlegender jqlegender-soigneur">
                            <img src="/img/sites/fixtures/Soigneur-d-un-Jour.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Soigneur d'un jour</div>
                                <div class="icon">
                                    &#123;&#35;{{ include("ZPBSitesZooBundle:incs:empreinte_svg.html.twig") }}&#35;&#125;
                                    <p>Vivez en une matinée une expérience de soigneur animalier</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-sm-4 col-md-4">
                    <a href="#">
                        <div class="jqlegender jqlegender-atelier">
                            <img src="/img/sites/fixtures/Ateliers-pedagogiques.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Parrainages</div>
                                <div class="icon">
                                    &#123;&#35;{{ include("ZPBSitesZooBundle:incs:atelier_svg.html.twig") }}&#35;&#125;
                                    <p>Devenez le Parrain d'un animal de Beauval</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>#}





{% endblock %}


