{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block content %}
    {#<div class="columns large-3"></div>#}
    <div class="columns large-offset-3 large-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fuga mollitia nostrum odio omnis quae
            quod? Culpa est modi, nisi officia quod rem suscipit ut. Corporis magnam maiores minus mollitia quae tempora
            veritatis. Animi cumque, eum, ipsa ipsum mollitia necessitatibus nesciunt nostrum odio pariatur perspiciatis
            quas quos sit soluta unde voluptatem! Ab aperiam assumenda consequuntur cum deleniti dolore dolorem
            doloremque eius ex facere hic id, laboriosam magni nobis obcaecati perspiciatis quaerat recusandae
            repudiandae sed soluta? At eius eveniet ex iure saepe tenetur ullam velit. Accusamus ad at error nisi.
            Ducimus nemo omnis totam voluptatibus? Ab ad architecto assumenda aut autem, deserunt eius est, eveniet
            facilis iure laboriosam magni modi nam natus nemo nulla odit optio praesentium provident, quis repellat
            tempore tenetur vel? Ducimus illo ipsa nesciunt tempora! Adipisci consectetur consequuntur culpa cumque
            deserunt ducimus et eveniet incidunt, iste iure laboriosam laudantium provident quod reiciendis repellat,
            reprehenderit tempora unde ut voluptas voluptatum! Blanditiis cum dolorum ex fugit in incidunt ipsa magnam
            nihil, porro quibusdam! Adipisci aperiam autem consequuntur culpa dicta, dolore dolores ea earum enim esse
            facilis ipsum itaque iure labore laudantium maxime, modi molestiae molestias nam necessitatibus omnis
            pariatur quaerat, quas quo quod quos ratione sint sit tenetur vero! Accusamus ad adipisci, aliquam aperiam
            architecto aspernatur assumenda distinctio, eius error labore laboriosam nisi placeat, quam quibusdam quod
            sint voluptates. Cupiditate enim ex facere fuga hic impedit labore maxime modi nam natus nemo omnis quia
            quibusdam quis sapiente sed vel vero, voluptatibus? Ad adipisci aliquam aliquid dicta distinctio ducimus
            eius error excepturi explicabo, itaque maiores molestiae mollitia neque nobis, optio provident quo quos,
            recusandae rerum saepe sit tempora vitae. Dicta facilis fugiat, ipsum laudantium magnam maxime minus? A
            accusantium alias blanditiis consectetur distinctio esse ex, facere illo in ipsam iusto minus molestias non,
            numquam optio possimus provident quae quam reiciendis temporibus!</p>
    </div>
    <div class="columns large-3"></div>
{% endblock %}
