{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block title %}Accueil{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block headScripts %}

    <script src="/js/vendor/require.js" data-main="/js/sites/zoo/index/index.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>ZooParc de Beauval</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-intro">
                    <p><span class="quoted">N° 1 des zoos et aquariums de France</span></p>
                    <p class="underline"> Traveler's Choice Attractions Awards</p>
                </div>
            </div>
        </div>
    </div>

    <div class="img-wrapper">
        <img src="/img/sites/zoo/nouveaute_2014.jpg" alt="" width="100%"/>
    </div>

    <!-- start -->

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Carnet-Rose.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Calendrier des animations et spectacles</a>
                            </div>
                            <div class="front-box-title lilas">
                                <h3><a href="">Au programme</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Soigneur-d-un-Jour.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Vivez en une matinée une expérience de soigneur animalier</a>
                            </div>
                            <div class="front-box-title red">
                                <h3><a href="">Soigneur d'un jour</a></h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="front-box">
                        <div class="image-area">
                            <a href="">
                                <img src="/img/sites/fixtures/Ateliers-pedagogiques.jpg" alt=""/>
                            </a>
                            <div class="overlay"></div>
                            <div class="front-box-text">
                                <a href="">Devenez le Parrain d'un animal de Beauval</a>
                            </div>
                            <div class="front-box-title green">
                                <h3><a href="">Parrainages</a></h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end  -->

    <!-- start -->

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="front-panel rose">
                        <div class="front-panel-title">
                            <h3><a href="">Carnet rose</a></h3>
                        </div>
                        <div class="front-panel-posts">
                            <div class="nano">
                                <div class="nano-content">
                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                            </div>
                                        </div>
                                    </a>
                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4">
                    <div class="front-panel orange">
                        <div class="front-panel-title">
                            <h3><a href="">Actualité</a></h3>
                        </div>
                        <div class="front-panel-posts">
                            <div class="nano">
                                <div class="nano-content">
                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                            </div>
                                        </div>
                                    </a>

                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                            </div>
                                        </div>
                                    </a>

                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                            </div>
                                        </div>
                                    </a>

                                    <a href="" class="front-panel-post-wrapper">
                                        <div class="front-panel-post">
                                            <div class="front-panel-post-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="front-panel bleu has-tab">
                        <div class="front-panel-title">
                            <h3><a href="">fans</a></h3>
                        </div>
                        <ul class="front-panel-tabs">
                            <li class="front-panel-tab active"><a href="" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                            <li class="front-panel-tab"><a href="" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                            <li class="front-panel-tab"><a href="" class="instagram-color"><i class="fa fa-instagram"></i></a></li>
                        </ul>

                        <div class="front-panel-panes">
                            <div class="front-panel-pane active">
                                <div class="front-panel-posts">
                                    <div class="nano">
                                        <div class="nano-content">
                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="front-panel-pane">
                                <div class="front-panel-posts">
                                    <div class="nano">
                                        <div class="nano-content">
                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="front-panel-pane">
                                <div class="front-panel-posts">
                                    <div class="nano">
                                        <div class="nano-content">
                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, alias blanditiis deserunt distinctio ea iusto nulla numquam obcaecati possimus quasi quidem, soluta tempore, voluptates? Adipisci atque ipsa nobis perferendis quo.
                                                    </div>
                                                </div>
                                            </a>

                                            <a href="" class="front-panel-post-wrapper">
                                                <div class="front-panel-post">
                                                    <div class="front-panel-post-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At delectus dicta error maxime quae quas quasi quia quisquam sit! Amet cumque nemo vero voluptatibus. Fuga laudantium magnam qui repellendus velit?
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end  -->

    <div class="spacer"></div>

{% endblock %}


