{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Photothèque{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "phototheque" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Galerie photo</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {% for institution in institutions %}
                    <a href="">{{ institution.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul>
                    {% for institution in institutions %}
                        {% set institut = institution.slug %}

                        <li>
                            <ul class="inline">
                                {% for category in institution.photoCategories %}
                                    {% set cat = category.slug %}
                                    <li><a class="btn btn-primary" href="{{ path("zpb_sites_zoo_phototheque_show_category", {institutslug: institut , catslug: cat}) }}">{{ category }} &raquo;</a></li>
                                {% endfor %}
                            </ul>
                        </li>


                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
