{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Communiqués de presse{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "presse_communiques" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Communiqués de presse</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-6">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
