{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Dossiers de presse{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "presse_dossier" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Dossiers de presse</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-sm-12 col-md-12">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
