{% set clubs_pages = ["individuels"] %}
{% set family_pages = ["groupes"] %}
{% set ces_pages = ["groupes"] %}
{% set practicle_pages = ["pratique"] %}
{% set tools_pages = ["tools"] %}

{% set active_page = "none" %}


<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <nav>
                <a href="{{path("zpb_sites_group_homepage")}}" class="logo">{{ include("ZPBSitesGroupBundle:incs:logo_groups_svg.html.twig") }}</a>
                <ul>
                    <li class="dropdown{% if active_page in clubs_pages %} active{% endif %}"><a href="javascript:void(0)">Club & Assocs</a>
                        <ul>
                            <li><a href="">Parc seul</a></li>
                            <li><a href="">Séjours Hôtels+ZooParc</a></li>
                            <li><a href="">Restauration</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in family_pages %} active{% endif %}"><a href="javascript:void(0)">Familles</a>
                        <ul>
                            <li><a href="">Parc seul</a></li>
                            <li><a href="">Séjours Hôtels+ZooParc</a></li>
                            <li><a href="">Restauration</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in ces_pages %} active{% endif %}"><a href="javascript:void(0)">CES</a>
                        <ul>
                            <li><a href="">Parc seul</a></li>
                            <li><a href="">Séjours Hôtels+ZooParc</a></li>
                            <li><a href="">Restauration</a></li>
                            <li><a href="">Groupes enfants handicapés</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in practicle_pages %} active{% endif %}"><a href="javascript:void(0)">Pratique</a>
                        <ul>
                            <li><a href="">Accès</a></li>
                            <li><a href="">Avantagess groupes</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in tools_pages %} active{% endif %}"><a href="javascript:void(0)">Outils de Com'</a>
                        <ul>
                            <li><a href="">Outils téléchargeables</a></li>
                            <li><a href="">Bons de commandes</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
