<div id="topbar">
    <a class="logo" href="{{ path("zpb_sites_zoo_mobile_homepage") }}">{{ include("ZPBSitesZooMobileBundle:incs:logo_zooparc_svg.html.twig") }}</a>
    <button id="toggle-menu"></button>
</div>

