{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}
{% block title %}Planning des Animations{% endblock %}
{% set active = "plannig_management" %}
{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin/planning.css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column-12">

            <div class="tile">

                <div class="tile-header">Planning des animations</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-9">
            <div class="tile">
                <div class="tile-header" id="calInfos"></div>
                <div id="calendrier"></div>

            </div>
        </div>
        <div class="column-3" >
            <div class="tile">
                <div id="event_manager"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footScripts %}
    <script src="/js/vendor/underscore-min.js"></script>
    {{ parent() }}
    <script>
        var animationDays = {{ animationDays|raw }};
    </script>
    <script src="/js/admin/animation/CalendarClass.js"></script>
    <script src="/js/admin/animation/CalendarManagerClass.js"></script>
    <script src="/js/admin/animation/jquery.zpb.calendar.js"></script>
    <script src="/js/admin/animation/jquery.zpb.calendar_manager.js"></script>
    <script src="/js/admin/animation/app.js"></script>



{% endblock %}
