{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}

{% block title %}Planning des Animations{% endblock %}
{% set active = "plannig_management" %}
{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin/planning.css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">Planning des animations</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">

                <div class="cal" id="planning">
                    <div class="cal-navigation">
                        <button class="prevBtn calBtn"><i class="fa fa-chevron-left"></i></button>
                        <button class="nextBtn calBtn"><i class="fa fa-chevron-right"></i></button>
                        <span class="cal-title-month"></span>
                        <span class="cal-title-year"></span>
                        <span class="cal-loader"></span>
                    </div>
                    <div class="cal-days">
                        <div class="cal-dayname">Lundi</div>
                        <div class="cal-dayname">Mardi</div>
                        <div class="cal-dayname">Mercredi</div>
                        <div class="cal-dayname">Jeudi</div>
                        <div class="cal-dayname">Vendredi</div>
                        <div class="cal-dayname">Samedi</div>
                        <div class="cal-dayname">Dimanche</div>
                    </div>
                    <div class="cal-body"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}

    <script src="/js/zoo/jquery.zpbCalendar.js"></script>

    <script>
        $(function(){
            var planning = $("#planning"), baseUrl = '/animations/api/days/';

            function startCalendar(cal){
                cal.toggleLoader();

                cal.createMarker = function(v){
                    var marker =  $('<div />', {'class': 'color-marker'});
                    marker.css('background-color', v['color']);
                    return marker;
                };
                getDatas(cal);
            }
            function prevMonth (cal){
                cal.toggleLoader();
                getDatas(cal);
            }
            function nextMonth (cal){
                cal.toggleLoader();
                getDatas(cal);
            }
            function getDatas(cal){
                var url = baseUrl + cal.year + '/' + (cal.month + 1);
                $.get(url)
                        .done(function(response){
                            cal.build(response['days']);
                            cal.toggleLoader();
                            cal.enableBtns();
                        })
                        .fail(function(response){
                            cal.toggleLoader();
                        });
            }
            planning.zpbCalendar({
                startCb: startCalendar,
                nextMonthCb: prevMonth,
                prevMonthCb: nextMonth
            });
        });
    </script>


{% endblock %}
