{% extends 'ZPBAdminBundle:Layouts:master.html.twig' %}
{% block title %}Planning des Animations{% endblock %}
{% set active = "plannig_management" %}
{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/admin/planning.css"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column-12">

            <div class="tile">

                <div class="tile-header">Planning des animations</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-9">
            <div class="tile">
                <div class="tile-header" id="calInfos"></div>
                <div id="calendrier"></div>

            </div>
        </div>
        <div class="column-3" >
            <div class="tile">
                <div id="calendrierManager"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footScripts %}

    {{ parent() }}
    <script>
        var animationDays = {{ animationDays|raw }};
    </script>
    <script src="/js/admin/modules/addons.js"></script>
    <script src="/js/admin/modules/CacheManager.js"></script>
    <script src="/js/admin/modules/EventManager.js"></script>
    <script src="/js/admin/modules/loader.js"></script>
    <script src="/js/admin/modules/yearSelector.js"></script>
    <script src="/js/admin/modules/monthSelector.js"></script>
    <script src="/js/admin/modules/animationDaySelector.js"></script>

    <script src="/js/admin/animation/calendar.js"></script>
    <script src="/js/admin/animation/calendarManager.js"></script>
    <script src="/js/admin/animation/calendarMediator.js"></script>
    <script src="/js/admin/animation/day.js"></script>
    <script src="/js/admin/animation/app.js"></script>



{% endblock %}
