#site-header{
  overflow: hidden;
  padding-top: 25px;
  width: 100%;
  height: $sh_tablet_height;
  //background: transparent url("../../../img/sites/yuanzi.jpg") center center no-repeat;
  position: relative;
  @if $sh_boxShadow != "none" {
    @include box-shadow($sh_boxShadow);
  }
  #stickytop{
    @include transition(background-color 0.3s);
    width: 100%;
    height: 50px;
    &.stuck{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: $sh_sticyStuck_bgColor;
      width: 100%;
      z-index: 1000;
      @if $sh_sticyStuck_boxShadow != "none"{
        @include box-shadow($sh_sticyStuck_boxShadow);
      }
      .container{
        #main-menu{
          color: $sh_sticyStuck_mainMenu_Color;
          line-height: 50px;
          a{
            @include nakedLink;
            // color: $grisFonce;
            color: $blanc;
            font-family: inherit;
          }
          .logo{
            padding-top: 8px;
            padding-bottom: 10px;
            #Calque_1{
              path{
                //fill: $grisFonce;
                fill: $blanc;
              }

            }
          }
          nav{
            &>ul{
              &>li{
                &.active{
                  & > a{
                    color: $jaune;
                  }
                  &:hover{
                    &:after{
                      content: "";
                      position: absolute;
                      display: block;
                      height: 1px;
                      width: 20%;
                      background-color: $jaune;
                      bottom: 10px;
                      margin: 0 auto;
                      left: 40%;
                    }
                  }
                }
                &:hover{
                  &:after{
                    content: "";
                    position: absolute;
                    display: block;
                    height: 1px;
                    width: 20%;
                    background-color: $sh_sticyStuck_mainMenuLiUnderlineColor;
                    bottom: 10px;
                    margin: 0 auto;
                    left: 40%;
                  }
                }
                ul{
                  background-color: $blanc;
                  @include box-shadow(rgba(0,0,0,0.5) 0 3px 4px);
                  min-width: 100%;
                  white-space: nowrap;
                  line-height: 35px;
                  li{
                    line-height: auto;
                    a{
                      line-height: auto;
                      color: $grisFonce;
                      font-family: "cooper_hewitt_book", Arial, Helvetica, sans-serif;
                      text-align: left;
                      padding-left: topx($sh_mainMenu_submenu_linkPadding);
                      padding-right: topx($sh_mainMenu_submenu_linkPadding);
                      &:hover{
                        background-color: $beauvalNature;
                        color: $blanc;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #main-menu{
    line-height: $sh_mainMenuLineHeight;
    text-transform: uppercase;
    font-family: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
    @include clearfix;
    a{
      @include nakedLink;
      color: $sh_mainMenuLinkColor;
      font-family: $sh_mainMenuLinkFontFamily;
    }
    .logo{
      float: left;
      display: block;
      padding-right: 15px;
      padding-left: topx($gridGutter);
      #Calque_1{
        width: 250px;
        height: 32px;
      }
    }
    nav{
      &>ul{
        @include clearfix;

        width:100%;
        margin: 0 auto;
        &>li{   //,
          &.active{
            & > a{
              color: $jaune;
            }
            &:hover{
              &:after{
                content: "";
                position: absolute;
                display: block;
                height: 1px;
                width: 20%;
                background-color: $jaune;
                bottom: 5px;
                margin: 0 auto;
                left: 40%;
              }
            }

          }
          &:hover{
            &:after{
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 20%;
              background-color: $sh_mainMenuLiUnderlineColor;
              bottom: 5px;
              margin: 0 auto;
              left: 40%;
            }
          }
          display: block;
          float: left;
          position: relative;
          padding-left: 15px;
          padding-right: 15px;
          &.dropdown{
            &:hover{
              ul{
                display: block;
                line-height: auto;
              }
            }
          }
          a{
            display: block;
            text-align: center;
          }
          ul{
            line-height: auto;
            display: none;
            position: absolute;
            z-index: 1000;
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: $sh_mainMenu_submanuBgColor;
            @if $sh_mainMenu_submenu_boxShadow != "none"{
              @include box-shadow($sh_mainMenu_submenu_boxShadow);
            }
            min-width: 100%;
            white-space: nowrap;
            li{

              a{
                font-size: 14px;
                text-transform: none;
                font-family: "cooper_hewitt_book", Arial, Helvetica, sans-serif;
                color: $sh_mainMenu_submenu_linkColor;
                text-align: left;
                padding-left: topx($sh_mainMenu_submenu_linkPadding);
                padding-right: topx($sh_mainMenu_submenu_linkPadding);
                &:hover{
                  background-color: $sh_mainMenu_submenu_linkHoverBgColor;
                  color: $blanc;
                }
              }
            }
          }
          &>a{
            display: block;
          }
        }
      }
    }
  }

  .tickets{
    width: topx($bs_width);
    height: topx($bs_regHeight);
    position:absolute;
    bottom: 0;
    @if $bs_transition != "none"{
      transition: $bs_transition;
    }
    @include box-shadow($bs_outerBoxShadow);
    font-size: topx($bs_fontSize);
    @if $bs_textTrasform != "none"{
      text-transform: $bs_textTrasform;
    }
    text-align: center;
    font-family: $bs_fontFamily;
    a{
      color: $bs_linkColor;
    }
    &:hover{
      height: topx($bs_hoverHeight);
      a{
        color: $bs_hoverLinkColor;
      }
    }
    .inner{
      width: topx($bs_width);
      height: topx($bs_hoverHeight);
      padding: 15px 25px 0;
      text-align: center;
      #dormir-svg, #parrainer-svg, #billet-svg{
        margin-top: 10px;
        .main{
          fill: $bs_svgsFillColor;
        }
      }
    }

    &.tickets-left{
      $decal: topx($bs_width + ($bs_width / 2) + $bs_gutter);
      left: calc(50% - #{$decal});
      .inner{
        background-color: $bs_btnBgColor_1;
      }
    }
    &.tickets-center{
      $decal: topx($bs_width / 2);
      left: calc(50% - #{$decal});
      .inner{
        background-color: $bs_btnBgColor_2;
      }
    }
    &.tickets-right{
      $decal: topx( ($bs_width / 2) + $bs_gutter );
      left: calc(50% + #{$decal});
      .inner{
        background-color: $bs_btnBgColor_3;
      }
    }
  }


}
@media only screen and (min-width: 1030px) {
  #site-header{
    height: $sh_height;
  }
}



