{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Plan du site{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "sitemap" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Plan du site</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                TODO generateur de site map http://www.sitemaps.org/fr/protocol.html
            </div>
        </div>
    </div>
{% endblock %}
