.resto-card{
  h1,h2,h3,h4,h5,h6{
    margin: 0 0 10px 0;
  }
  .wrapper-resto-card{
    padding: 20px;
  }
  &.is-open{
    .wrapper-resto-card{
      border: 1px solid $ocean;
    }
    .resto-state{
      background-color: $ocean;
      color: $blanc;
    }
  }
  &.is-close{
    .wrapper-resto-card{
      border: 1px solid $grisDF;
    }
    .resto-state{
      background-color: $grisBB;
      color: $blanc;
    }
  }
  .inner-resto-card{
    min-height: 510px;
  }
  .resto-state-info{
    p{
      padding: 10px 0;
      &.resto-state{
        font-size: topx(20);
      }
    }
  }
}
