<a class="btn btn-primary" href="{{ path("zpb_sites_zoo_parrainages_login") }}">Mon compte</a>
{% if is_granted("ROLE_GODPARENT") %}
    <a class="btn btn-primary" href="{{ path("zpb_sites_zoo_parrainages_logout") }}">Déconnexion</a>
{% endif %}
