{% if basketCount<1 %}
    <a href="javascript:void(0);">Votre panier est vide</a>
{% elseif basketCount == 1 %}
    <a href="{{ path("zpb_sites_zoo_parrainages_show_basket") }}">Votre panier contient 1 parrainage</a>
{% else %}
    <a href="{{ path("zpb_sites_zoo_parrainages_show_basket") }}">Votre panier contient {{ basketCount }} parrainages</a>
{% endif %}
