
{% set indiv_pages = ["billeterie","sejours","cadeaux"] %}
{% set groupes_pages = ["visite_libre", "visite_guidee","resto","sejours"] %}
{% set practicle_pages = ["acces","trucs","fiches"] %}
{% set tools_pages = ["tools", "galerie_photo"] %}


<div id="seconday-mainbar-wrapper">
    <div class="container">
        <div class="row">
            <nav id="secondary-mainbar">
                <div class="col-md-3">
                    <div class="menu-block {% if active_page in indiv_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Singles</a>
                        {{ include("ZPBSitesProBundle:English/Navs:individuel.html.twig") }}
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in groupes_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Groups</a>
                        {{ include("ZPBSitesProBundle:English/Navs:groupes.html.twig") }}
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in practicle_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Utils</a>
                        {{ include("ZPBSitesProBundle:English/Navs:pratique.html.twig") }}
                    </div>


                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in tools_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Library</a>
                        {{ include("ZPBSitesProBundle:English/Navs:mediatheque.html.twig") }}
                    </div>

                </div>

            </nav>
        </div>
    </div>
</div>
