{% extends "ZPBSitesProBundle:Layouts:master.html.twig" %}


{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block title %}Restauration{% endblock %}
{% set active_page = "resto" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>{{ block('title') }}</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
