<ul>
    <li><a href="{{ path("zpb_sites_pro_group_visite_libre") }}">Visite libre</a></li>
    <li><a href="{{ path("zpb_sites_pro_group_visite_guidee") }}">Visite guidée</a></li>
    <li><a href="{{ path("zpb_sites_pro_group_resto") }}">Restauration</a></li>
    <li><a href="{{ path("zpb_sites_pro_group_sejours") }}">Séjours</a></li>
</ul>
