<ul>
    <li><a href="{{ path("zpb_sites_pro_indiv_billetterie") }}">Billetterie</a></li>
    <li><a href="{{ path("zpb_sites_pro_indiv_sejours") }}">Séjours</a></li>
    <li><a href="{{ path("zpb_sites_pro_indiv_cadeaux") }}">Idées cadeaux</a></li>
</ul>
