<ul>
    <li><a href="{{ path("zpb_sites_pro_pratique_acces") }}">Accès</a></li>
    <li><a href="{{ path("zpb_sites_pro_pratique_fiches") }}">Fiches</a></li>
    <li><a href="{{ path("zpb_sites_pro_pratique_trucs") }}">Trucs et astuces</a></li>

</ul>
