{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Photothèque{% endblock %}
{% set active = "list_photos" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Liste des photos
                </div>
            </div>
        </div>
    </div>
{% endblock %}
