<div class="tickets tickets-left">
    <a href="">
        <div class="inner">
            Achetez<br> vos billets
            {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
        </div>
    </a>
</div>
<div class="tickets tickets-center">
    <a href="">
        <div class="inner">
            Dormez<br>à Beauval
            {{ include("ZPBSitesZooBundle:incs:dormir_svg.html.twig") }}
        </div>
    </a>
</div>
<div class="tickets tickets-right">
    <a href="">
        <div class="inner">
            Parrainez<br>un animal
            {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
        </div>
    </a>
</div>
