<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>test design</title>
    <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
</head>
<body>

<div class="" id="multisite-menu">
    <div class="container">
        <nav>
            <ul>
                <li class="active"><a href="">ZooParc de Beauval</a></li>
                <li><a href="">Beauval Nature</a></li>
                <li class="dropdown "><a href="">Les hôtels de Beauval</a>
                    <ul>
                        <li><a href="">Les Jardins de Beauval</a></li>
                        <li><a href="">Les Pagodes de Beauval</a></li>
                        <li><a href="">Les Hameaux de Beauval</a></li>
                    </ul>
                </li>
                <li><a href="">Séminaires</a></li>
                <li class="dropdown"><a href="">Tarifs spéciaux</a>
                    <ul>
                        <li><a href="">Professionnels</a></li>
                        <li><a href="">Comités d'entreprises</a></li>
                        <li><a href="">Scolaires</a></li>
                        <li><a href="">Groupes</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div id="site-header">
    <div class="container">
        <div id="main-menu">
            <nav>
                <ul>
                    <li><a href="{{path("zpb_sites_zoo_homepage")}}">Accueil<i class="fa fa-home"></i></a></li>
                    <li class="dropdown"><a href="">Votre visite</a>
                        <ul>
                            <li><a href="">Lorem ipsum.</a></li>
                            <li><a href="">Cupiditate necessitatibus</a></li>
                            <li><a href="">Magni molestias?</a></li>
                            <li><a href="">Eaque ipsa.</a></li>
                            <li><a href="">Fugit, iusto?</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="">Le ZooParc</a>
                        <ul>
                            <li><a href="">Lorem ipsum.</a></li>
                            <li><a href="">Cupiditate, necessitatibus!</a></li>
                            <li><a href="">Magni, molestias?</a></li>
                            <li><a href="">Eaque, ipsa.</a></li>
                            <li><a href="">Fugit, iusto?</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="">Pédagogie</a>
                        <ul>
                            <li><a href="">Lorem ipsum.</a></li>
                            <li><a href="">Cupiditate, necessitatibus!</a></li>
                            <li><a href="">Magni, molestias?</a></li>
                            <li><a href="">Eaque, ipsa.</a></li>
                            <li><a href="">Fugit, iusto?</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path("zpb_sites_zoo_actualites_homepage") }}">Actualités</a></li>
                    <li><a href="">Communautés</a></li>
                    <li><a href="">La Boutique</a></li>
                </ul>
            </nav>
        </div>
    </div>


</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Lorem ipsum dolor sit amet.</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-4">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-5">
            <div class="testbox"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-4">
            <div class="testbox"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="testbox"></div>
        </div>
        <div class="col-3">
            <div class="testbox"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-2">
            <div class="testbox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
    </div>

</div>

</body>
</html>
