<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>test design</title>
    <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Lorem ipsum dolor sit amet.</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-4">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-5">
            <div class="testbox"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-4">
            <div class="testbox"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3">
            <div class="testbox"></div>
        </div>
        <div class="col-3">
            <div class="testbox"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-2">
            <div class="testbox"></div>
        </div>
        <div class="col-2">
            <div class="testbox"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
        <div class="col-1">
            <div class="testbox"></div>
        </div>
    </div>

</div>

</body>
</html>
