*,*:before,*:after{
  @include box-sizing(border-box);
}


body{
  font-size: topx($fontSize);
  font-family: $fontfamily;
  color: $fontColor;
  line-height: $lineHeight;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
   text-transform: uppercase;
   font-family: $headerFontFamily;
   color: $headerFontColor;
   a{
     color: inherit;
   }
 }



h1{
  font-size: topx(22);
}

h2{
  font-size: topx(20);
}

h3{
  font-size: topx(18);
}

h4{
  font-size: topx(16);
}

h5{
  font-size: topx(14);
}

h6{
  font-size: topx(12);
}


a{
  text-decoration: none;
  font-weight: 700;
}

.text-center{
  text-align: center;
}

.page-header{
  margin: 10px 0;
  h1{
    text-transform: uppercase;

    text-align: center;
    color: $ocean;
  }


}

.slogan{
  text-align: center;
}
#wrapper{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.site-pusher{
  height: 100%;
  @include transform(translateX(0px));
  @include transition(all 0.2s);
}
#topbar{
  background-color: $ocean;
  height: topx($topBarHeight);
  line-height: topx($topBarHeight);
  @include box-shadow(rgba(0,0,0,0.5) 0 3px 5px);
  padding: 0 5px;
  position: relative;
  z-index: 1000;
  @include clearfix;
  text-align: center;
  a.logo{
    display: inline-block;
    padding: 5px 0;
    #Calque_1{
      display: block;
      width: 185px;
      padding: 5px 0;
      height: 40px;
    }
  }
  button#toggle-menu{
    width: 40px;
    height: 40px;

    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    padding: 0;

    outline: none;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 24px;
      top: 12px;
      left: 8px;
      @include box-shadow(rgba(#fff,1) 0 1px 0, rgba(#fff,1) 0 8px 0, rgba(#fff,1) 0 15px 0);
    }
  }
}
.app{
  position: absolute;
  top: topx($topBarHeight);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  z-index: 500;


}
#header{
  width: 100%;
  height: 300px;
  img{
    display: block;
    height: 100%;
  }
}
.main-content{
  margin-bottom: 70px;
}
#main-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  height: 50px;
  background-color: $grisFonce;
  @include clearfix;
  .main-footer-col{
    &:first-child{
      padding: 10px 5px 10px 10px;
    }
    &:last-child{
      padding: 10px 10px 5px 10px;
    }
    width: 50%;
    float: left;
    height: 100%;
    text-align: center;

    a{
      display: block;
      height: 30px;
      background-color: $ocean;
      color: $blanc;
      line-height: 30px;
      font-family: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }

  }
}

.card{
  h1,h2,h3,h4,h5,h6{
    color: $ocean;
    text-align: center;
  }
  .card-description-centered{
    text-align: center;
    padding: 6px 0;
  }
}
.resto-card{
  padding: 6px;
  border: 1px solid $grisDF;
  margin-bottom: 12px;

  &.is-open{
    border-color:$ocean;
    .resto-state-info{
      background-color: $ocean;
    }
  }
  .resto-state-info{
    text-align: center;
    padding: 6px 0;

    background-color: $grisBB;
    color: $blanc;
  }
}
