$fontSize: 12;

$gridGutter: 20;
$numCols: 6;

$topBarHeight: 50;
$menuWidth: 250;
/***************************************\
  faq
\***************************************/

$faq_defaultBgColor: $grisBB;
$faq_activeBgColor: $ocean;
