@import "compass";
@import "compass/reset";

@import "../../common/utils";
@import "../../common/colors";
@import "vars";
@import "../../common/normalize";
@import "../../common/grid";
@import "main_menu";
@import "faq";




*, *:before, *:after{
  @include box-sizing(border-box);
}

html,body{
  height: 100%;
  background-color: $blanc;
}
body{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: $grisFonce;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1{
  font-size: topx(22);
}

h2{
  font-size: topx(20);
}

h3{
  font-size: topx(18);
}

h4{
  font-size: topx(16);
}

h5{
  font-size: topx(14);
}

h6{
  font-size: topx(12);
}










.text-center{
  text-align: center;
}

.page-header{
  margin: 10px 0;
  h1{
    text-transform: uppercase;

    text-align: center;
    color: $ocean;
  }


}
.slogan{
  text-align: center;
}
#wrapper{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.site-pusher{
  height: 100%;
  @include transform(translateX(0px));
  @include transition(all 0.3s);
}
#topbar{
  background-color: $ocean;
  height: topx($topBarHeight);
  line-height: topx($topBarHeight);
  @include box-shadow(rgba(0,0,0,0.5) 0 3px 5px);
  padding: 0 5px;
  //position: fixed;
  position: relative;
  /*left: 0;
  right: 0;
  top: 0;*/
  z-index: 1000;
  @include clearfix;
  text-align: center;
  a.logo{
    display: inline-block;
    padding: 5px 0;
    #Calque_1{
      display: block;
      width: 185px;
      padding: 5px 0;
      height: 40px;
    }
  }
  button#toggle-menu{
    width: 40px;
    height: 40px;

    background-color: transparent;
    position: absolute;
    top: 5px;
    left: 5px;
    border: none;
    padding: 0;

    outline: none;
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      width: 24px;
      top: 12px;
      left: 8px;
      @include box-shadow(rgba(#fff,1) 0 1px 0, rgba(#fff,1) 0 8px 0, rgba(#fff,1) 0 15px 0);
    }
  }
}
.app{
  position: absolute;
  top: topx($topBarHeight);
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;

}
.main-content{
  //padding-top: topx($topBarHeight);

}
#main-footer{
  height: 50px;
  background-color: $ocean;
  margin-top: 30px;
}
