{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Photothèque HD{% endblock %}
{% set active = "list_photos_hd" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Choisir une liste de photo
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <ul>
                    {% for inst in institutions %}
                    <li><h4>{{ inst.name }}</h4>
                        {% if inst.photoCategories|length > 0 %}

                            {% for cat in inst.photoCategories %}
                                <a class="btn btn-primary" href="">{{ cat.name }}</a>
                            {% endfor %}

                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
