{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Nouvelle photo | Photothèque HD{% endblock %}
{% set active = "new_photo_hd" %}

{% block content %}
    <div class="row">
        <div class="column-3"></div>

        <div class="column-6">
            <div class="tile">
                <div class="tile-header">
                    Nouvelle photo HD
                </div>








            </div>
        </div>
        <div class="column-3"></div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}

{% endblock %}
