{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Boutique{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "shop_index" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>{{ block("title") }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Peluches, livres , DVD, papeterie, médailles de collection... <br/> Voici une sélection d'articles liés au ZooParc de Beauval et à la conservation des espèces. Comme autant d'idées cadeaux !</p>

                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>
{% endblock %}
