{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Home{% endif %} | Les Hôtels de Beauval</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/sites/leshotels/master.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>
<body>
{% block topnav %}
    {{ render(controller("ZPBSitesCommonBundle:Navs:topnav", {url: path("zpb_sites_hotels_homepage")})) }}
{% endblock %}
{% block main %}
    {% block header %}

    {% endblock %}

    {% block content %}{% endblock %}

{% endblock %}



{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>

{% endblock %}

</body>
</html>
