a, button, input[type=button], input[type=submit], input[type=reset]{

  &.btn{
    @include nakedLink;
    color: $btn_defaultBtnColor;
    //font-family: $btn_defaultBtnFontFamily;
    font-family: "cooper_hewitt_bold", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: $btn_defaultBtnFontSize;
    display: inline-block;
    vertical-align: middle;
    background-color: $btn_defaultBtnBgColor;
    padding: topx($btn_defaultBtnFontSize * 0.33) topx($btn_defaultBtnFontSize * 0.66);
    border: none;
    margin: 0;

    &.btn-small{
      padding: topx($btn_defaultBtnFontSize * 0.25) topx($btn_defaultBtnFontSize * 0.5);
      font-size: topx($btn_defaultBtnFontSize * 0.75);
    }

    &.btn-xlarge{
      padding: topx($btn_defaultBtnFontSize * 1) topx($btn_defaultBtnFontSize * 2);
      font-size: topx($btn_defaultBtnFontSize * 1.25);
      text-transform: uppercase;
      font-family: 'cooper_hewitt_bold', Arial, Helvetica, sans-serif;

    }

    &.btn-grisfonce{
      background-color: $grisFonce;
      color: $blanc;
      &:hover{
        background-color: $bleu;
      }
      &:active{
        background-color: $bleu;
      }
    }


    &.btn-primary{
      background-color: $btn_primaryBgColor;
      color: $btn_primaryColor;
      &:hover{
        background-color: lighten($btn_primaryBgColor, 15);
      }
      &:active{
        background-color: darken($btn_primaryBgColor, 15);
      }
    }

    &.btn-warning{
      background-color: $btn_warningBgColor;
      color: $btn_warningColor;

      &:hover{
        background-color: lighten($btn_warningBgColor, 15);
      }
      &:active{
        background-color: darken($btn_warningBgColor, 15);
      }
    }
  }


}
