

/*********************** grid **************************\
\*******************************************************/
$gridGutter: 20 !default;
$numCols: 12 !default;

@mixin row{
  width: 100%;
  @include clearfix;
  position: relative;
}

@mixin column{
  float: left;
  min-height: 1px;
  padding-left: topx($gridGutter);
  padding-right: topx($gridGutter);
  position: relative;
}

@mixin grid{
  @include clearfix;
  width: 100%;
  &>li,&>div{
    float: left;
    min-height: 1px;
    padding-right: topx($gridGutter);
    padding-left: topx($gridGutter);
    margin-bottom: topx(2 * $gridGutter);
  }
}
.img-wrapper{
  width: 100%;
  @include clearfix;
  margin: topx(20) 0;
}
.wrapper{
  width: 100%;
  @include clearfix;
  margin: topx($fontSize * 3) 0;
}
.container{
  @include row;
  margin: 0 auto;
  @include clearfix;
}
.spaced-row{
  margin-bottom: topx($gridGutter * 2);
}


.row, .spaced-row{
  @include row;
  [class^="col-sm-"], [class*=" col-sm-"],
  [class^="col-md-"], [class*=" col-md-"]{
    padding-left: topx($gridGutter);
    padding-right: topx($gridGutter);
  }
  .row, .spaced-row{
    [class^="col-xs-"]:first-child, [class*=" col-xs-"]:first-child
    [class^="col-sm-"]:first-child, [class*=" col-sm-"]:first-child,
    [class^="col-md-"]:first-child, [class*=" col-md-"]:first-child,
    {
      padding-left: 0;
    }
    [class^="col-xs-"]:last-child, [class*=" col-xs-"]:last-child
    [class^="col-sm-"]:last-child, [class*=" col-sm-"]:last-child
    [class^="col-md-"]:last-child, [class*=" col-md-"]:last-child
    {
      padding-right: 0;
    }


  }
}

[class^="col-xs-"], [class*=" col-xs-"]{
  @include column;
}

@for $i from 1 through $numCols{
  .col-xs-#{$i}{
    width: percentage( $i / $numCols);
  }
}

.hide-only-xs, .show-only-sm, .show-only-md{
  display: none;
}

.show-only-xs, .hide-only-sm, .hide-only-md{
  display: inherit;
}

@media only screen and (min-width: 640px) {

  [class^="col-sm-"], [class*=" col-sm-"]{
    @include column;
  }

  @for $i from 1 through $numCols{
    .col-sm-#{$i}{
      width: percentage( $i / $numCols);
    }
  }


  [class^="grid-sm-"], [class*=" grid-sm-"]{
    @include grid;
  }

  .row, .spaced-row{
    .row, .spaced-row{
      [class^="col-sm-"]:first-child, [class*=" col-sm-"]:first-child{
        padding-left: 0;
      }
      [class^="col-sm-"]:last-child, [class*=" col-sm-"]:last-child{
        padding-right: 0;
      }
    }
  }


  @for $i from 1 through 6{
    .grid-sm-#{$i}{
      &>li,&>div{
        width: percentage(1/$i);
        $v: 1 + $i;
        &:nth-of-type(1n){
          clear: none;
        }
        &:nth-of-type(#{$i}n + 1){
          clear: both;
        }
      }
    }
  }

  .hide-only-sm, .show-only-md, .show-only-xs{
    display: none;
  }

  .show-only-sm, .hide-only-md, .hide-only-xs{
    display: inherit;
  }

}

@media only screen and (min-width: 768px){

  [class^="col-md-"], [class*=" col-md-"]{
    @include column;
  }

  @for $i from 1 through $numCols{
    .col-md-#{$i}{
      width: percentage( $i / $numCols);
      float: left;
    }
  }

  .hide-only-xs, .hide-only-sm,.show-only-md{
    display: inherit !important;
  }

  .show-only-xs, .show-only-sm, .hide-only-md{
    display: none !important;
  }

  [class^="grid-md-"], [class*=" grid-md-"]{
    @include grid;
  }

  @for $i from 1 through 6{
    .grid-md-#{$i}{
      &>li,&>div{
        width: percentage(1/$i);
        $v: 1 + $i;
        &:nth-of-type(1n){
          clear: none;
        }
        &:nth-of-type(#{$i}n + 1){
          clear: both;
        }
      }
    }
  }

  .row, .spaced-row{

    .row, .spaced-row{
      [class^="col-md-"]:first-child, [class*=" col-md-"]:first-child{
        padding-left: 0;
      }
      [class^="col-md-"]:last-child, [class*=" col-md-"]:last-child{
        padding-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 960px){

}

@media only screen and (min-width: 1024px){
  .container{
    max-width: 1020px;
  }
}

@media only screen and (min-width: 1280px){
  .container{
    max-width: 1200px;
  }

  [class^="grid-lg-"], [class*=" grid-lg-"]{
    @include grid;
  }

  @for $i from 1 through 6{
    .grid-lg-#{$i}{
      &>li,&>div{
        width: percentage(1/$i);
        $v: 1 + $i;
        &:nth-of-type(1n){
          clear: none;
        }
        &:nth-of-type(#{$i}n + 1){
          clear: both;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px){

  [class^="grid-xlg-"], [class*=" grid-xlg-"]{
    @include grid;
  }

  @for $i from 1 through 6{
    .grid-xlg-#{$i}{
      &>li,&>div{
        width: percentage(1/$i);
        $v: 1 + $i;
        &:nth-of-type(1n){
          clear: none;
        }
        &:nth-of-type(#{$i}n + 1){
          clear: both;
        }
      }
    }
  }
}
