body{
  &.bg_01{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_Gerard-Lacz.jpg") center center no-repeat;
    }
  }
  &.bg_02{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_01.jpg") center center no-repeat;
    }
  }
  &.bg_03{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_02.jpg") center center no-repeat;
    }
  }
  &.bg_04{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_03.jpg") center center no-repeat;
    }
  }
  &.bg_05{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_04.jpg") center center no-repeat;
    }
  }
  &.bg_06{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_05.jpg") center center no-repeat;
    }
  }
  &.bg_07{
    #site-header{
      background: transparent url("../../../img/sites/yuanzi.jpg") center center no-repeat;
    }
  }
  &.bg_08{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_08.jpg") center center no-repeat;
    }
  }
}
