$mn_bgColor: $grisFonce !default;
$mn_color: $blanc !default;
$mn_lineHeight: 35px !default;
$mn_masterLinkHoverColor: lighten($mn_bgColor, 10) !default;
$mn_subMenuBgColor: $mn_bgColor !default;
$mn_subMenuShadow: "none" !default;
$mn_subMenuShadow: rgba(0,0,0,0.5) 0 4px 6px !default;
$mn_submenuLinkHoverBgColor: $blanc !default;
$mn_submenuLinkHoverColor: $grisFonce !default;

$mainTopBarHeight: 40 ;
$mainTopBarBgColor: #303030!default;
$mainTopBarColor: #fff!default;
$mainTopBarFontSize: 14!default;

#multisite-menu{

  .main-top-bar-navs-mobile{
    position: relative;

    z-index: 100;
    &>ul{
      &>li{
        width: 100%;
        height: 100%;
        display: block;
        @include box-shadow(rgba(0,0,0,0.3) 0 1px 3px);

        ul{
          &.toggle-menu-is-up{
            @include translateY(-200%);
          }
          &.toggle-menu-is-down{
            @include translateY(0);
          }
          position: absolute;
          width: 100%;
          left: 0;

          @include transition(transform 0.5s);
          z-index: -100;
          background-color: $mainTopBarBgColor;
          color: $mainTopBarColor;
          @include box-shadow(rgba(0,0,0,0.3) 0 1px 3px);
          a{
            text-decoration: none;
            color: inherit;
            display: block;
            text-align: center;
            padding: 5px 0;
            &:hover{
              color: $mainTopBarBgColor;
              background-color: $mainTopBarColor;
            }
          }
        }
      }
    }
    .main-top-bar-navs-toggler{
      margin: 0 auto;
      padding: 0;
      height: 100%;
      border: none;
      background-color: $mainTopBarBgColor;
      color: $mainTopBarColor;
      display: block;
      width: 80%;
      outline: none;
    }

  }

  background-color: $mn_bgColor;
  color: $mn_color;
  line-height: $mn_lineHeight;
  @include box-shadow(rgba(0,0,0,0.5) 0 1px 4px);
  position: relative;
  z-index: 100000;
  font-size: 12px;
  a{
    @include nakedLink;
    color: inherit;
    font-family: inherit;
  }
  .flag{
    position: absolute;
    height: 35px;
    width: 42px;
    right: 5px;
    top: 0;
    z-index: 10000;
    img{
      padding: 11px;
    }
  }
  nav{
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #multisite-menu{
    .flag{
      position: static;
      float: right;
      height: 35px;
      img{
        padding: 11px;
      }
    }
    .main-top-bar-navs-mobile{
      display: none;
    }

    background-color: $mn_bgColor;
    color: $mn_color;
    line-height: $mn_lineHeight;
    @include box-shadow(rgba(0,0,0,0.5) 0 1px 4px);
    position: relative;
    z-index: 100000;
    font-size: 12px;
    a{
      @include nakedLink;
      color: inherit;
      font-family: inherit;
    }
    .flag{
      float: right;
      height: 35px;
      img{
        padding: 11px;
      }
    }
    nav{
      display: block;
      width: 100%;
      &>ul{
        @include clearfix;
        text-align: center;
        &>li{
          &.active{
            color: $jaune;
            ul{
              color: $blanc;
            }
            &:hover{
              &:after{
                content: "";
                position: absolute;
                display: block;
                height: 1px;
                width: 14%;
                background-color: $jaune;
                bottom: 5px;
                margin: 0 auto;
                left: 43%;
              }
            }
          }
          &:hover{
            &:after{
              content: "";
              position: absolute;
              display: block;
              height: 1px;
              width: 14%;
              background-color: $blanc;
              bottom: 5px;
              margin: 0 auto;
              left: 43%;
            }
          }
          display: inline-block;
          position: relative;
          &.dropdown{
            &:hover,&.open{
              &>ul{
                display: block;
              }
            }
          }
          a{
            display: block;
            text-align: left;
            padding-left: 15px;
            padding-right: 15px;
            &:hover{
              background-color: $mn_masterLinkHoverColor;
            }
          }
          ul{
            position: absolute;
            display: none;
            z-index: 1000;
            min-width: 100%;
            background-color: $mn_subMenuBgColor;
            white-space: nowrap;
            @if $mn_subMenuShadow != "none" {
              @include box-shadow($mn_subMenuShadow);
            }
            margin: 0;
            padding: 0;
            list-style: none;
            li{
              a{
                &:hover{
                  background-color: $mn_submenuLinkHoverBgColor;
                  color: $mn_submenuLinkHoverColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
