#site-header{
  overflow: hidden;
  padding-top: 25px;
  width: 100%;
  height: $sh_tablet_height;

  position: relative;
  @if $sh_boxShadow != "none" {
    @include box-shadow($sh_boxShadow);
  }
}
@media only screen and (min-width: 1030px) {
  #site-header{
    height: $sh_height;
  }
}
