#site-header{
  #stickytop{
    @include transition(background-color 0.3s, height 0.3s);
    width: 100%;
    height: topx($shmn_reg_height);
    .container{
      #main-menu{
        @include clearfix;
        height: topx($shmn_reg_height);
        line-height: topx($shmn_reg_lineHeight);
        .logo{
          float: left;
          display: block;
          padding-right: 15px;
          padding-left: topx($gridGutter);
        }
        a{
          @include nakedLink;
          display: block;
          text-align: center;
        }
        &>nav{
          &>ul{
            @include clearfix;
            width:100%;
            margin: 0 auto;
            &>li{
              display: block;
              float: left;
              position: relative;
              padding-left: 15px;
              padding-right: 15px;
              &.dropdown{
                ul{
                  line-height: auto;
                  display: none;
                  position: absolute;
                  z-index: 1000;
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  min-width: 100%;
                  white-space: nowrap;
                  li{
                    a{
                      padding-right: topx($shmn_reg_subMenu_linkPaddingRight);
                      padding-left: topx($shmn_reg_subMenu_linkPaddingLeft);
                    }
                  }
                }
                &:hover{
                  ul{
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.stuck{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1000;
      height: topx($shmn_stickytopHeight);
      .container{
        #main-menu{
          height: topx($shmn_stickytopHeight);
          line-height: topx($shmn_stickytopHeight);
          .logo{
            padding-top: 8px;
            padding-bottom: 10px;
          }
          &>nav{
            &>ul{
              &>li{
                &.dropdown{
                  ul{
                    line-height: topx($shmn_reg_lineHeight);
                    li{
                      a{
                        padding-right: topx($shmn_stuck_subMenu_linkPaddingRight);
                        padding-left: topx($shmn_stuck_subMenu_linkPaddingLeft);
                      }
                    }
                  }
                  &:hover{
                    ul{}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#site-header{
  #stickytop{
    .container{
      #main-menu{
        text-transform: $shmn_reg_menu_textTransform;
        font-family: $shmn_reg_menu_fontFamily;
        .logo{
          #Calque_1{
            width: topx($shmn_reg_logo_width);
            height: topx($shmn_reg_logo_height);
            path{
              fill: $shmn_reg_logo_color;
            }
          }
        }

        a{
          color: $shmn_reg_menu_linkColor;
          font-family: inherit;
        }
        &>nav{
          &>ul{
            &>li{
              &:hover{
                &:after{
                  content: "";
                  position: absolute;
                  display: block;
                  height: 1px;
                  width: 20%;
                  background-color: $shmn_reg_menu_linkColor;
                  bottom: 5px;
                  left: 40%;
                }
              }
              &.active{
                &:hover{
                  &:after{
                    background-color: $shmn_reg_menu_activeLinkColor;
                  }
                }
                &>a{
                  color: $shmn_reg_menu_activeLinkColor;
                }
              }
              &.dropdown{
                ul{
                  background-color: $shmn_reg_subMenu_bgColor;
                  @if $shmn_reg_subMenu_shadow != "none"{
                    @include box-shadow($shmn_reg_subMenu_shadow);
                  }
                  font-size: topx($shmn_reg_subMenu_fontSize);
                  font-family: $shmn_reg_subMenu_fontFamily;
                  li{
                    a{
                      text-transform: none;
                      text-align: left;
                      color: $shmn_reg_subMenu_linkColor;
                      &:hover{
                        color: $shmn_reg_subMenu_linkHoverColor;
                        background-color: $shmn_reg_subMenu_linkHoverBgColor;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.stuck{
      background-color: $shmn_stuck_bgColor;
      @if $shmn_stuck_boxShadow != "none"{
        @include box-shadow($shmn_stuck_boxShadow);
      }
      .container{
        #main-menu{
          text-transform: $shmn_stuck_menu_textTransform;
          font-family: $shmn_stuck_menu_fontFamily;
          .logo{
            #Calque_1{
              width: topx($shmn_stuck_logo_width);
              height: topx($shmn_stuck_logo_height);
              path{
                fill: $shmn_stuck_logo_color;
              }
            }
          }
          a{
            color: $shmn_stuck_menu_linkColor;
          }
          &>nav{
            &>ul{
              &>li{
                &:hover{
                  &:after{
                    background-color: $shmn_stuck_menu_linkColor;
                  }
                }
                &.active{
                  &:hover{
                    &:after{
                      background-color: $shmn_stuck_menu_activeLinkColor;
                    }
                  }
                  &>a{
                    color: $shmn_stuck_menu_activeLinkColor;
                  }
                }
                &.dropdown{
                  ul{
                    background-color: $shmn_stuck_subMenu_bgColor;
                    @if $shmn_stuck_subMenu_shadow != "none"{
                      @include box-shadow($shmn_stuck_subMenu_shadow);
                    }
                    font-size: topx($shmn_stuck_subMenu_fontSize);
                    font-family: $shmn_stuck_subMenu_fontFamily;
                    li{
                      a{
                        color: $shmn_stuck_subMenu_linkColor;
                        &:hover{
                          color: $shmn_stuck_subMenu_linkHoverColor;
                          background-color: $shmn_stuck_subMenu_linkHoverBgColor;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
