<aside class="sidebar">
    <div class="nano">
        <div class="nano-content">
            <nav class="menus">
                <div id="menus-tools" class="menus-tools">
                    <a id="menus-tools-fold" href="" class="menus-tools-folder"><i class="fa fa-plus-square"></i></a>
                    <a id="menus-tools-unfold" href="" class="menus-tools-folder"><i class="fa fa-minus-square"></i></a>
                </div>
                <nav class="menu">
                    <h3 class="menu-title">Générale</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["list_posts"] %} active{% endif %}"><a href="">Actualités </a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li><a href="">Ecrire</a></li>
                                <li><a href="">Les brouillons</a></li>
                                <li class="{% if active == "list_posts" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list") }}">Les publications</a></li>
                                <li><a href="">Les archives</a></li>
                                <li><a href="">La corbeille</a></li>
                                <li class="sidebar-dropdown"><a href="">Catégories </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown"><a href="">Mots-clés </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Nouveau</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_users", "new_user"] %} active{% endif %}"><a href="">Utilisateurs</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_users" %}active{% endif %}"><a href="{{ path("zpb_admin_users_list") }}">Liste</a></li>
                                <li class="{% if active == "new_user" %}active{% endif %}"><a href="">nouveau</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown"><a href="">Médiathèque</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown"><a href="">Images</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Upload</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown"><a href="">Pdfs</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Upload</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_photos", "new_photo", "update_photo"] %} active{% endif %}"><a href="">Photothèque</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_photos" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_list") }}">Liste</a></li>
                                <li class="{% if active == "new_photo" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_create") }}">Upload</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Parrainages</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">ZooParc</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Jardins de B.</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Hameaux de B.</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Pagodes de B.</h3>
                    <ul>

                    </ul>
                </nav>

            </nav>
        </div>
    </div>
</aside>
