<header class="navbar fixed-top">
    <a class="sidebar-toggle" href="" id="sidebar-toggle"></a>
    <a class="logo" href="{{ path("zpb_admin_homepage") }}">ZooParc Admin</a>
    <div class="navs">
        <div class="nav-right">
            <ul>
                <li><a href=""><i class="fa fa-envelope"></i></a></li>
                <li><a href="{{ path("zpb_admin_users_account") }}"><i class="fa fa-user"></i></a></li>
                <li><a href="{{ path("zpb_admin_logout") }}"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>
</header>
