{% extends "ZPBSitesProBundle:English/Layouts:master.html.twig" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Tourism Professionnals</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}
