{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Les animaux{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "animaux" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Les animaux</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testbox testbox-5">
                    <p>plan interactif avec animaux</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
