<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="page-header">
                <h1>Conditions Générales de Vente</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, debitis illo in itaque iusto maxime
                modi necessitatibus praesentium repellendus repudiandae, veritatis, voluptatum? Ipsum laborum quisquam
                vel. Ea ex officiis porro quo suscipit tempore temporibus veniam voluptatum! Ad amet commodi illo
                laboriosam, magni mollitia praesentium quos repellendus saepe sed? Adipisci aut autem consequuntur
                delectus deleniti dolorum est harum impedit labore laboriosam, minima molestias nesciunt nisi non odit
                perspiciatis provident quisquam rem repellat rerum sit temporibus ut velit veniam vitae. Deserunt
                dolorem earum explicabo laudantium minima minus nam nemo nihil nulla officia pariatur quae, quos
                reprehenderit soluta veritatis? Architecto consectetur fuga nostrum!</p>

            <p>Cupiditate debitis dolor doloribus ea hic laboriosam, perspiciatis quidem rerum saepe sapiente soluta,
                veniam voluptas voluptate voluptatem voluptates. A amet animi architecto aspernatur consectetur
                cupiditate debitis dignissimos distinctio eius est facilis fuga fugit illo iusto magnam minima molestiae
                necessitatibus nobis nostrum numquam obcaecati officia optio perferendis perspiciatis, quae quaerat quam
                quas quia quisquam reprehenderit, sapiente sunt tenetur unde vel voluptas voluptatem voluptatum? Ab
                dolore dolorem eaque eos facere fuga, id ipsa minima molestiae nihil nobis obcaecati sed voluptatibus!
                Aliquam aperiam autem consectetur debitis dicta, dolore, doloremque doloribus dolorum eos error est
                eveniet harum id laudantium, nemo nesciunt porro quasi ullam.</p>

            <p>Accusantium ad asperiores assumenda cum cumque ex exercitationem explicabo harum, magnam modi molestiae
                natus odit omnis optio pariatur perferendis, porro praesentium quod sequi totam ullam vel voluptate.
                Aperiam consectetur, delectus eius ipsa magni molestiae quia soluta temporibus totam? Adipisci dolore
                eaque esse iusto molestiae molestias nam quidem ratione recusandae sit. Atque et iusto magni odit quas?
                Enim, error minima numquam possimus quisquam voluptates. Aliquam cum dicta dolores, esse inventore
                libero odio quia vitae. Enim expedita impedit magni non qui rerum tempora temporibus. Ad amet delectus
                eius est nisi nostrum odit perspiciatis, quas sapiente vitae. Debitis eveniet ipsam iusto nam
                ratione!</p>

            <p>Alias assumenda esse expedita iure necessitatibus officiis quam qui quidem quod sed. Ab cupiditate
                debitis dicta, dolor ducimus ex explicabo illum incidunt inventore ipsum natus nemo, officia provident
                suscipit voluptatibus! Ab accusamus beatae explicabo id, itaque recusandae velit? Accusamus aliquam,
                consequuntur, cumque deleniti dignissimos doloremque earum fugiat incidunt laborum, maiores
                necessitatibus odio possimus praesentium qui quos repellat repellendus repudiandae suscipit ullam
                voluptas? In, minus, reprehenderit. Accusantium facere fugiat modi quaerat quas quasi repellat
                repudiandae voluptates! Illo illum modi perspiciatis placeat quasi quibusdam similique suscipit tempore
                veritatis. Asperiores consequatur culpa cupiditate eveniet illo illum, magni neque nihil nostrum quia
                quos unde.</p>

            <p>Ad aspernatur at cupiditate doloremque dolores doloribus ducimus, earum eligendi enim error eveniet
                fugiat illo illum impedit inventore iste itaque libero magnam magni maiores minus molestiae quas quasi
                quos rem repellendus sapiente sed suscipit temporibus totam vel voluptas voluptatem voluptates? A
                aliquam animi deleniti distinctio, dolorem illum in ipsum molestias nisi nostrum possimus quas qui
                vitae! Ab accusamus cum deleniti, dignissimos eius facere ipsam ipsum, itaque magnam minus nostrum
                nulla, perspiciatis repudiandae veritatis voluptate? A at debitis, ea impedit ipsa magnam maxime
                nesciunt omnis possimus, quo quos reiciendis tempora ullam velit veniam voluptates voluptatibus! Aliquam
                animi illum maiores natus recusandae.</p>

            <p>Ad dicta dolore ducimus esse neque pariatur praesentium tempore totam vel voluptatem? Culpa, cupiditate
                debitis deleniti dicta dolorum ea enim error eum eveniet ex expedita explicabo hic in ipsa ipsum iure
                modi nemo nihil nisi nobis officia officiis omnis placeat porro quaerat quibusdam quo rem repellat
                reprehenderit sed sit ullam voluptate voluptatem. Aliquam, blanditiis cum, cumque dignissimos distinctio
                dolores eaque expedita explicabo illo minima necessitatibus nesciunt nobis numquam officia omnis
                perferendis, provident quis quisquam quo quos repellendus suscipit tenetur voluptatibus. Culpa deleniti
                dolorem voluptatem? Adipisci asperiores dignissimos dolor doloremque dolorum enim eos incidunt nam nisi
                odit, ratione recusandae vel, vero.</p>

            <p>Accusamus alias aliquid assumenda at consectetur debitis dignissimos doloremque doloribus dolorum eaque
                earum eius error excepturi exercitationem expedita explicabo iste itaque modi mollitia nemo neque optio
                pariatur reiciendis, rem repellendus, soluta tempora tempore unde veniam voluptate. Aliquam fugiat
                itaque perferendis sequi similique. Ab aliquam animi assumenda atque beatae dolore ducimus fugit nihil,
                nobis possimus quia sequi sunt voluptate? Blanditiis consectetur cumque explicabo facilis in maxime odio
                perferendis perspiciatis, placeat possimus, quas recusandae, sit suscipit tempora veniam. Ab ad aperiam
                at corporis dolore iure minima, minus molestias necessitatibus nobis nulla obcaecati pariatur quod sint
                temporibus, voluptatem voluptates! Alias facere maxime tempora.</p>

            <p>Ab corporis cum dicta eaque est exercitationem inventore ipsa iusto laudantium modi nostrum optio
                quisquam, quos reiciendis repellat sapiente sit tempore totam unde voluptatem. Architecto distinctio
                fugiat non optio quis quod reiciendis repudiandae rerum temporibus vero? A, ab architecto beatae
                blanditiis commodi consequuntur cumque doloribus eaque ex excepturi explicabo facere fugiat impedit in
                ipsam itaque libero minima mollitia nemo, officia pariatur quaerat quam qui quia sit suscipit vel
                voluptatem? Aperiam corporis culpa debitis deleniti dolores eaque eius enim, fuga in maiores mollitia
                nihil numquam, odit optio porro praesentium quaerat recusandae reiciendis rem saepe sit totam unde ut
                vel, veniam voluptas.</p>

            <p>Cupiditate delectus doloremque doloribus et ex fugit itaque iusto laudantium libero necessitatibus odio
                tempore, ut, voluptas. Aliquid autem, cupiditate doloremque doloribus et ipsa mollitia necessitatibus
                nesciunt omnis suscipit, tenetur veniam. Asperiores autem consectetur consequuntur cupiditate dolorem
                doloribus enim ex fuga harum illo illum iure, magni maxime mollitia natus, neque nesciunt nobis
                obcaecati odio placeat porro quis sapiente sunt suscipit unde vel veniam voluptatem. A accusantium alias
                at aut deleniti dignissimos eligendi et ex hic illum ipsam iure iusto, labore maxime necessitatibus nemo
                nulla obcaecati odio odit possimus quas quod tempora tenetur vero voluptas? Expedita incidunt non qui
                reiciendis saepe? Iste.</p>

            <p>Aperiam culpa impedit libero maiores nam officia pariatur praesentium sequi. Consequatur culpa deleniti
                doloribus ea ex facilis ipsa iure maiores minima minus mollitia numquam quas, quia, quo, quos sequi unde
                vitae? Alias consequatur consequuntur est fuga illo iusto, labore molestias officia optio perspiciatis
                placeat possimus quasi saepe, sed vel! Consectetur consequuntur cupiditate dicta dolore, eius hic iure
                molestiae numquam quibusdam sed tempore ullam ut voluptatum. A ad assumenda at cum dolore dolorem
                doloremque doloribus error harum illo itaque labore libero maiores, nostrum obcaecati praesentium
                quisquam quo quod, recusandae reiciendis suscipit velit vitae. Accusamus earum excepturi ipsa similique
                suscipit ut veniam!</p>
        </div>
    </div>
</div>
