<div class="carousel" id="hCarousel">
    <div class="slides">
        {#<div class="slide" id="slide_1">
            <div class="slide-img-placeholder">
                <img class="slide-img" src="/img/sites/common/headers/header_01.jpg" alt=""/>
            </div>

        </div>
        <div class="slide hide" id="slide_2">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_02.jpg" alt=""/>
            </div>

        </div>
        <div class="slide hide" id="slide_3">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_03.jpg" alt=""/>
            </div>
        </div>
        <div class="slide hide" id="slide_4">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_04.jpg" alt=""/>
            </div>
        </div>
        <div class="slide hide" id="slide_5">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_05.jpg" alt=""/>
            </div>


        </div>
        <div class="slide hide" id="slide_6">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_06.jpg" alt=""/>
            </div>

        </div>
        <div class="slide hide" id="slide_7">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_07.jpg" alt=""/>
            </div>
        </div>
        <div class="slide hide" id="slide_8">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_08.jpg" alt=""/>
            </div>
        </div>
        <div class="slide hide" id="slide_9">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_09.jpg" alt=""/>
            </div>

        </div>
        <div class="slide hide" id="slide_10">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_10.jpg" alt=""/>
            </div>
        </div>
        <div class="slide hide" id="slide_11">
            <div class="slide-img-placeholder" >
                <img class="slide-img" src="/img/sites/common/headers/header_11.jpg" alt=""/>
            </div>
        </div>#}
        {% for slide in slides %}
            <div class="slide {% if loop.first == false %}hide{% endif %}" id="slide_{{ slide.id }}">
                <div class="slide-img-placeholder" >
                    <img class="slide-img" src="{{ slide.image }}" alt=""/>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
