<script>
    var sliderDuration = {{ slider.duration }} || 3000;
</script>
<div class="carousel" id="hCarousel">
    <div class="slides">

        {% for slide in slides %}
            <div class="slide {% if loop.first == false %}hide{% endif %}" id="slide_{{ slide.id }}">
                <div class="slide-img-placeholder" >
                    <img class="slide-img" src="{{ slide.image }}" alt=""/>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
