body{
  &.bg_1{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_Gerard-Lacz.jpg") center center no-repeat;
    }
  }
  &.bg_2{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_01.jpg") center center no-repeat;
    }
  }
  &.bg_3{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_13.jpg") center center no-repeat;
    }
  }
  &.bg_4{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_03.jpg") center center no-repeat;
    }
  }
  &.bg_5{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_04.jpg") center center no-repeat;
    }
  }
  &.bg_6{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_05.jpg") center center no-repeat;
    }
  }
  &.bg_7{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_11.jpg") center center no-repeat;
    }
  }
  &.bg_8{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_08.jpg") center center no-repeat;
    }
  }
  &.bg_9{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_09.jpg") center center no-repeat;
    }
  }
  &.bg_10{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_10.jpg") center center no-repeat;
    }
  }
  &.bg_11{
    #site-header{
      background: transparent url("../../../img/sites/Img-Top_ZooParc-de-Beauval_12.jpg") center center no-repeat;
    }
  }
}
