{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Accès{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "acces" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="page-header">
                    <h1>Accès</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-sm-6 col-md-6">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="testbox testbox-10 dev-map"></div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
