{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Animations pédagogiques{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "animations" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Animations et spectacles</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-sm-6 col-md-6">
                    <div class="testbox testbox-5">
                        <p>Intro animations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="cal" id="calendrier-animation">
                            <div class="cal-row cal-month">
                                <button class="cal-btn prevBtn">&lt;</button>
                                <span class="cal-title-month"></span>
                                <span class="cal-title-year"></span>
                                <button class="cal-btn nextBtn">&gt;</button>
                            </div>
                            <div class="cal-row cal-days">
                                <div class="cal-cell"><span class="cal-day">L</span></div>
                                <div class="cal-cell"><span class="cal-day">M</span></div>
                                <div class="cal-cell"><span class="cal-day">M</span></div>
                                <div class="cal-cell"><span class="cal-day">J</span></div>
                                <div class="cal-cell"><span class="cal-day">V</span></div>
                                <div class="cal-cell"><span class="cal-day">S</span></div>
                                <div class="cal-cell"><span class="cal-day">D</span></div>
                            </div>
                            <div class="cal-body"></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <div id="animations-infos">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5">
                    <p>Intro spectacle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5">
                    <p>horaires spectacle</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/zoo/app.js"></script>
    <script src="/js/zoo/jquery.zpbCalendar.js"></script>
    <script>
        $(function(){

            var calendrierAnimation = $("#calendrier-animation");

            calendrierAnimation.zpbCalendar(
                    {
                        dayCb : function(date){

                            var url = "/pratique/api/animation/" + date;
                            console.log(url);

                            $.get(url).done(function(response){
                                console.log(response);
                            }).fail(function(response){
                                console.log(response);
                            });
                        }
                    }
            );
        });
    </script>

{% endblock %}
