{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Animations pédagogiques{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "animations" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Animations et spectacles</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-sm-6 col-md-6">
                    <div class="testbox testbox-5">
                        <p>Intro animations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5">
                    <p>calendrier animation</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5">
                    <p>Intro spectacle</p>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5">
                    <p>horaires spectacle</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
