{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Plan de visite{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "map" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Plan de visite</h1>
                </div>
            </div>
        </div>
    </div>
    <style>
        .r-2-6{
            width: 100%;
            height: 0;
            padding-top: 66.6666%;
            overflow: hidden;
            position: relative;
        }

        #zoo-map, #zoo-map-canvas{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 20;
        }
        #zoo-map-canvas{
            z-index: 30;
        }
    </style>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-sm-6 col-md-6">
                    <div class="r-2-6">
                        <img src="/img/sites/zoo/Plan_2014.jpg" alt="" id="zoo-map"/>
                        <canvas id="zoo-map-canvas"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-sm-6 col-md-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
