{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{#{% block title %}{{ post.title }} | Actualités{% endblock %}#}
{% set prepend_title =  "tarifs" %}
{% set active_page = "tarifs" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Accès - Tarifs - Horaires</h1>
                </div>
            </div>
        </div>





    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-6">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="testbox testbox-10 dev-map"></div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-6">
                    <div class="testbox testbox-5"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>


{% endblock %}
